@charset "UTF-8";

/*
 * IEに共通して読み込まれるCSS
 */

body.home #column1 .conBox h3,
body.home #column2 .conBox li,
body.home a.cat_top
{
	writing-mode:tb-rl;
}

body.home #s{
	border:3px solid #00A0E9;
	display:block;
	font-size:11px;
	width:94px;
	float:left;
}

body.home #header li.search{
	width:150px;
}
body.home #header li.search form{
	display:block;
	width:150px;
	float:right;
}


body.home #header li.search #submit{
	
}

body.home #column1 .conBox ul{
	float:right;
	width:380px;
}
