@charset "utf-8";

/*----------------------------
グローバル
		セッティング
----------------------------*/
h1,h2,h3,h4,h5,ol,ul,li,blockquote{
	margin:0;
	padding:0;
	line-height:1;
}
li{list-style:none;}
a img{border:none;}
body {
	background:#F9F9F9;
	color:#313334;
	font-family:"メイリオ","ヒラギノ角ゴ Pro W3",'Hiragino Kaku Gothic Pro',Helvetica;
	font-size:75%;
	margin:0;
	padding:0;
}

a:link, a:visited { color:#6B7B95;}
a:hover, a:active { color:#E79D35;}

h4 {
	font-size:1.2em;
	height:1.25em;
	line-height:1.25;
	margin-bottom:1.25em;
}

/*レイアウト*/
.container{
	width:950px;
	margin:0 auto;
}
#header, #footer {
	background:#F9F9F9;
	position:relative;
}
#wrapper{
	padding:3em 0;
	background:url(../mootools/img/gradient-bottom.png) left bottom repeat-x;
}
#main-menu{
	width:150px;
	float:left;
	margin-right:10px;
}

#main{
	float:left;
	width:590px;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	margin:0 10px 0 14px;
	padding:0 24px 0 25px;
}

#menu{
	float:left;
	width:70px;
	margin:0;
	padding:0;
}
#footy{
	clear:left;
	padding-top:30px;
}

#footer {
	border-top:1px solid #DDDDDD;
	color:#888888;
	font-size:0.75em;
	padding:2em;
	text-align:center;
}
/*----------------------------
グローバル
		セッティング
----------------------------*/

/*Header*/
#header div.container{
	position:relative;
}

#header h1 a{
	display:block;
	width:203px;
	height:104px;
	background:url('../mootools/img/logo_mootools.gif') left top no-repeat;
}

#header h1 a span{
	display:none;
}
#header h2{
	height:15px;
}
#header h2 span{
	display:none;
}

#mediatemple{
	display:block;
	position:absolute;
	right:0;
	top:5px;
	width:103px;
	height:55px;
	background:url('../mootools/img/logo_wp.gif') left top no-repeat;
}

#mediatemple span{
	display:none;
}

#navigation{
	position:absolute;
	right:0;
	top:60px;
	height:30px;
	line-height:30px;
}
#navigation li{
	display:inline;
	border-left:1px solid #DDDDDD;
	font-size:1.1em;
	padding:0.5em 1em;
	text-decoration:none;
}
#navigation li.first{
	border:none;
}

/*google-search box*/
#google-search-box{
	position:relative;
	background:#EEEEEE url('../mootools/img/gradient-bottom.png') left bottom repeat-x;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	padding:0.3em 0;
	text-align:right;
}
#google-search-box span{
	color:#ccc;
	font-size:10px;
	visibility:hidden;
}
#google-input{
	border:1px solid #BBBBBB;
	font-family:inherit;
	font-size:11px;
	padding:4px 5px 2px;
	width:250px;
}
#result_box{
	position:relative;
	float:right;
	height:0;
	width:262px;
	overflow:visible;
	z-index:100;
}
#result_box ul{
	border:1px solid #bbb;
	background:#fff;
	border-top:none;
	text-align:left;
}
#result_box ul li{
	margin:0 3px 2px;
	padding:5px 0 3px;
	border-bottom:1px dotted #bbb;
}
#result_box ul li.last{
	border-bottom:none;
}
#result_box ul li a{
	font-size:12px;
	line-height:1.4;
}

#result_box ul li p{
	font-size:10px;
	line-height:1.3;
	margin:5px 0 0;
}

/*Main Menu*/
#main-menu h4 {
	border-bottom:1px solid #DDDDDD;
	font-weight:bold;
	margin:20px 0;
	padding-bottom:2px;
}

#main-menu li{
	text-align:right;
	font-size:100%;
	margin-top:5px;
	margin-bottom:10px;
}


/*main*/
#main h1, #main h2 {
	border-bottom:1px solid #DDDDDD;
	padding-bottom:0.3em;
}

#main h1 a:link, #main h1 a:visited {
	color:#C17878;
	text-decoration:none;
}
#main h1{
	font-size:2.5em;
}

#main h2 {
font-size:2em;
margin-bottom:0.75em;
}
#main h2 a:link,#main h2 a:visited {
color:#78BA91;
text-decoration:none;
}

#main h3 {
	margin-bottom:0.5em;
	padding-bottom:0.4em;
	font-size:1.5em;
}

#main h4 {
	font-size:1.2em;
	height:1.25em;
	line-height:1.25;
	margin-bottom:1.25em;
	color:#313334;
	font-weight:bold;
}

#main p{
	font-size:1.2em;
}

#main ul,#main ol {
	margin:0 1.5em 1.5em;
	list-style-position:outside;
}

#main ul li{
	list-style-type:square;
	margin:8px 0;
	line-height:1.5;
}
#main ol li{
	list-style-type:decimal;
	margin:8px 0;
	line-height:1.5;
}

#main em{
	color:#686C70;
	font-style:normal;
}

/*コード部分*/
#main pre {
	background:#FFFFFF none repeat scroll 0 0;
	border-bottom:1px solid #EEEEEE;
	border-top:1px solid #EEEEEE;
	font-size:12px;
	overflow:auto;
	padding:5px 7px;
	line-height:1.5;
	font-family:'andale mono','lucida';
	margin:1.5em 0;
	white-space:pre;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

.kw1 {
	color:#1B609A;
}
.kw2{
	color:#9A6F1B;
}

.me1{
	color:#666666;
}
.nu0{
	color:#70483D;
}

.st0{
	color:#489A1B;
}

.kw3, .re0, .sc1{
	color:#784E0C;
}

.co1, .coMULTI{
	color:#888888;
}

.br0{
	color:#444444;
}

/*home_main*/

#home_main{
	width:710px;
	float:left;
	border-right:1px solid #EEEEEE;
	margin-right:25px;
	padding-right:24px;
	border-color:#DDDDDD;
}

#home_main div.block{
	width:310px;
	float:left;
	margin-bottom:1.3em;
}

#home_main div.colborder {
	border-color:#DDDDDD;
	border-right:1px solid #EEEEEE;
	margin-right:25px;
	padding-right:24px;
}

#home_main a.thebook {
	background:transparent url(../mootools/img/totyuugesya.jpg) repeat scroll left bottom;
	display:block;
	float:left;
	height:113px;
	margin-right:20px;
	width:75px;
}

#home_main a.thebook:hover {
	background-position:left top;
}
#home_main a.thebook span {
	display:none;
}

#home_main hr{
	background:#DDDDDD none repeat scroll 0 0;
	border:medium none;
	clear:both;
	color:#DDDDDD;
	float:none;
	height:0.1em;
	margin:0 0 1.45em;
	width:100%;
}

#home_main p.large {
	font-size:1.5em;
	line-height:1.5;
}

#home_main p.large em{
	color:#686C70;
	font-style:normal;
}

#home_main p.quiet {
	color:#686C70;
	font-size:1.2em;
	line-height:1.6;
}

#home_main h3 {
margin-bottom:0.5em;
padding-bottom:0.4em;
}

#home_main h3.blue {color:#6B7B95;}
#home_main h3.purple {color:#A87AAD;}
#home_main h3.red {color:#C17878;}
#home_main h3.green {color:#78BA91;}


/*ダウンロードページ*/

.download h3{
	font-size:1.5em;
}
.download caption, .download th, .download td {
font-weight:normal;
text-align:left;
}

.download table, .download td, .download th {
vertical-align:middle;
}
.download th {
background:#C3D9FF none repeat scroll 0 0;
font-weight:bold;
}
.download th,.download td {
padding:4px 10px 4px 5px;
}
.download td,.download th {
padding-left:1em;
padding-right:1em;
}
.download th {
	background:#EEEEEE url(../mootools/img/gradient-bottom.png) repeat-x scroll left bottom;
	border-bottom:1px solid #D4D4D4;
	color:#686C70;
	padding-top:0.6em;
	text-shadow:0 1px rgba(255, 255, 255, 0.8);
}
.download th.name {
	width:30%;
}
#download-full {
	margin-bottom:1.4em;
	width:100%;
}
.download th.size, .download td.size {
	padding-right:1em;
	text-align:right;
}
.download td {
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid #F4F5F5;
}
.download .last {
	border-right:0 none;
}

.download div.description {
	margin-bottom:2em;
}
.download div.description p {
margin-bottom:0.5em;
}
/*menu*/
#menu h4 {
	color:#686C70;
	margin-bottom:0.5em;
	font-size:1.2em;
	height:1.25em;
	line-height:1.25;
	padding-top:1em;
}

/*home_sidebar*/
#sidebar{
	margin-right:0;
	float:left;
	width:180px;
}
#sidebar h4 {
	color:#686C70;
	margin-bottom:0.5em;
	padding-bottom:0.5em;
	font-size:1.2em;
	height:1.25em;
	line-height:1.25;
}
#sidebar ul {
	border-left:2px solid #EEEEEE;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding-left:0.5em;
	margin:0 1.5em 1.5em 0;
}


#sidebar ul li{
	margin:5px 0;
	line-height:1.5em;
}

/*トップへのアンカー*/
#toTop{
	display:block;
	width:200px;
	height:96px;
	background:url(../mootools/img/moo-icon.png) left top no-repeat;
	position:absolute;
	left:100%;
	top:1000px;
	margin-left:-220px;
	filter:alpha(opacity=0);
	opacity:0;
	-moz-opacity:0;
}

#toTop span{
	display:none;
}
/*Footy*/
#footy p.quiet{
	margin:0;
	text-align:right;
	color:#686C70;
	font-size:1.2em;
	line-height:1.6;
}


/*Footer*/
#footer a.copy{
	display:block;
	margin:0 auto;
	width:66px;
	height:56px;
	background:url('../mootools/img/logo_m4m.gif');
}
#footer a.copy span{
	display:none;
}

#footer p{
	margin:0;
	font-size:1.2em;
}
