/* -------------------------------------------------------------- 
  
 Hartija Css Print  Framework
   * Version:   0.8 (2008-03-10)
	 
-------------------------------------------------------------- */

body { 
width:100% !important;
margin:0 !important;
padding:0 !important;
line-height: 1.4;
word-spacing:1.1pt;
letter-spacing:0.2pt; font-family: "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif; color: #000; background: none;
font-size: 10pt;
text-align:justify;
text-justify:inter-ideograph;
}

/*Headings */
h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
h1{font-size:24pt;}
h1:first-letter{color:#00A0E9;}
h2{font-size:17pt;color:#00A0E9;}
h3{
	font-size:15pt;
	margin-bottom:1em;
	line-height:1.2;
	padding-bottom:0.3em;
	border-bottom:1pt dotted #e5e5e5;
}
h4,h5,h6{font-size:12pt; font-weight:bold;}
.mincho, .entry
{font-family:"ヒラギノ明朝 ProN W3", 'HiraMinProN-W3', "IPA P明朝", "細明朝体","MS P明朝" ,"ヒラギノ明朝体3",serif;}
.sans, h3, h4, h5, h6, blockquote, .wp-caption-text
{font-family:"ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;}
.old{font-family:Georgia, "Times New Roman", Times, serif;}
.mono{font-family:'andale mono', 'lucida console', 'Osaka-mono', 'Osaka－等幅', 'Meiryo UI', monospace;}

code { font: 10pt Courier, monospace; } 
blockquote { margin: 1.3em; padding: 1em;  font-size: 10pt; color:#bbb;}
hr { background-color: #ccc; }

/* Images */
img { float: left; margin: 1em 1.5em 1.5em 0; }
a img { border: none; }

/* Links */
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: none;color:#333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 70%; word-break:break-all;}
div>a:link[href^="http://"]:after, div>a[href^="http://"]:visited:after, 
.tmkm-amazon-view a:link[href^="http://"]:after, .tmkm-amazon-view a[href^="http://"]:visited:after{ content: "";}
a[href^="http://"] {color:#000; }

/* Table */
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
tr {page-break-inside: avoid;} 

/*hide*/

#header, #right, #comments_wrapper, #footer_wrapper, div.meta p.right,
.entry p.google, .entry p.google+p
{display:none;}
.alignleft{float:left; margin: 0 1em 1em 0;}
.alignright{float:right; margin: 0 0 1em 1em;}
.aligncenter{margin:0 auto 1em;}

/*Other*/
.calendar{text-align:right;}
.calendar .year{margin-right:0.25em;}
.calendar .year:after{content: "/"}

.clrL{clear:left}
.clrR{clear:right;}
.clrB{clear:both;}

.wp-caption{
	padding:0.5pt;
	border:0.5pt solid #ddd;
}
.wp-caption img{
	margin-bottom:0.5em;
}
.wp-caption-text{
	margin-top:0;
	font-size:7pt;
	color:#999;
}
.meta{
	margin-bottom:1.5em;
	padding-bottom:0.5em;
	border-bottom:0.5pt solid #ddd;
}
#page_finish{
	color:#666;
	font-size:1.2em;
	text-align:right;
}
.meta ul li{
	font-size:8pt;
	list-style:none;
}