@charset "utf-8";
/**
 * Custome editor style-sheet
 * @package fumiki
 */

/*フロート解除*/
.clrL{clear:left;}
.clrR{clear:right;}
.clrB{clear:both;}

/*clearfix*/
.clearfix:after {content: ".";display: block;clear: both;height: 0;visibility: hidden;}
.clearfix { display: inline-block; }
/* exlude MacIE5 \*/
* html .clearfix { height: 1% }
.clearfix {display:block;}
/* end MacIE5 */
/*====clear style====*/

body.mceContentBody{
	word-wrap:break-word;
	text-align:justify;
	text-justify: inter-ideograph;
	font-family:"メイリオ",'Meiryo','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',sans-serif;
	font-size:16px;
	color:#4D4945;
	max-width:760px;
	display:block;
	margin:0 auto;
	background:url('img/bg-texture-white.jpg') left top repeat;
	padding:20px;
}
a:link{color:inherit;text-decoration:underline;}
a:visited{color:inherit;text-decoration:underline;}
a:hover{color:inherit;text-decoration:none;}
a:active{color:inherit;text-decoration:underline;}
a{overflow:hidden;}
/*フォントファミリー*/
.mincho{font-family:"ヒラギノ明朝 ProN W3", 'HiraMinProN-W3', "IPA P明朝", "細明朝体","MS P明朝" ,"ヒラギノ明朝体3",serif;}
.old{font-family:Georgia, "Times New Roman", Times, serif;}
.sans{font-family:"ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;}
.mono, pre{font-family:'Consolas', 'Courrier', 'andale mono', 'lucida console', 'Osaka-mono', 'Osaka－等幅', 'Meiryo UI', monospace;}
/*テキスト寄せ*/
.center{text-align:center;}
.left{text-align:left}
.right{text-align:right}
.top{vertical-align: top}
.middle{vertical-align: middle}
.bottom{vertical-align:bottom}


/****************************************
 * 4.通常記事設定
 ****************************************/
/*---------------------*
 * 個別タグ設定
 */
/*段落*/
p{
	margin:15px 0;
}

/*見出し*/
h2, h3, h4, h5{
	text-shadow:1px 1px 2px #fff;
}
h2{
	font-size:1.8em;
	padding-top:30px;
	margin-bottom:20px;
	line-height:1.2;
	color:#8AB29F;
}
h3{
	font-size:1.5em;
	padding:30px 0 5px;
	margin-bottom:15px;
	line-height:1.2;
	color:#333F46;
	border-bottom:1px dotted #333F46;
}
h4{
	font-size:1.3em;
	padding-top:30px;
	margin-bottom:15px;
	line-height:1.2;
}
h5{
	font-size:1.1em;
	padding-top:30px;
	margin-bottom:15px;
	line-height:1.2;
}


/*リスト共通設定*/
ol,ul,dl{
	margin:20px 0;
}
ol li,ul li,dl dd{margin:8px 0 8px 20px;}
ul, ol{padding-left:20px;}
ul li{list-style:outside disc;}
ol li{list-style:outside decimal;}
ul li li, ol li li, dd li{font-size:0.8em;}
ul li ul li{list-style-type:circle;}
ol li ol li{list-style-type:decimal-leading-zero;}

/*定義リスト*/
dl dt{
	font-size:1.2em;
	font-weight:bold;
	margin:15px 0 0;
	text-shadow: 1px 1px 2px #fff;
	color:#333F46;
}
dl dd{
	border-left:1px dotted #333F46;
	padding-left:10px;
	margin-left:0;
}

/*引用*/
blockquote, cite, q{color:#000;font-weight:bold;}
blockquote{
	margin:20px 0;
	padding:10px 10px 10px 80px;
	background:#bbb url(img/blockquote.gif) 10px 10px no-repeat;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-box-shadow:1px 1px 2px #fff, 1px 1px 3px rgba(0,0,0,0.3) inset;
}
blockquote p{margin:8px 0}
blockquote cite{
	display:block;
	text-align:right;
	font-size:0.8em;
	color:#000;
	font-weight:normal;
}
cite:before{content:'"'}
cite:after{content:'"'}

/*注意書き*/
.alert{
	font-size:0.8em;
	font-weight:bold;
	color:#000;
}
.alert:before{content:"〔※ "}
.alert:after{content:"〕"}

/*挿入*/
ins{
	text-decoration:none;
	font-size:0.8em;
	color:#666;
	border-bottom:none;
}
ins:before{content:" › "}
ins:after{content:" ‹ "}


/*削除*/
del{
	font-size:0.8em;
	color:#aaa;
}
del:before{content:" "}
del:after{content:" "}

/*リンク装飾*/
a.external,
a.zip,
a.pdf,
a.epub{
	padding-right:16px;
	background-position: right center;
	background-repeat: no-repeat;
}
a.external{
	background-image:url(./img/linkicon_external.png);
}
a.zip{
	background-image:url(./img/linkicon_zip.png);
}
a.pdf{
	background-image:url(./img/linkicon_pdf.png);
}
a.epub{
	background-image:url(./img/linkicon_epub.png);
}

/*テーブル*/
table{
	margin:20px 0;
	border-spacing:0;
	empty-cells:show;
	border-collapse: collapse;
}
table caption{
	color:#000;
	text-align:left;
	font-size:1.5em;
}
table thead th,
table thead td{
	background:#4D4945;
	color:#f3f3f3;
	padding:5px 8px;
}
tbody th,
tbody td{
	text-align:left;
	padding:5px 8px;
	font-size:0.85em;
	border-bottom:1px dotted #999;
}
tbody tr:nth-child(2n) td,
tbody tr:nth-child(2n) th{
	background: #f3f3f3;
}

/*アスキーアート*/
pre.aa{
	font-family:IPAMonaGothic,'ＭＳ ゴシック',monospace;
	font-size:12px;
	line-height:1.5;
	margin:20px 0;
	color:#999;
}

/*コードフォーマット*/
.code-format{
	background:#4D4945;
	color:#fff;
	margin:10px;
	padding:10px;
	border:2px solid #CCC;
	-webkit-border-radius:15px;
	border-radius:15px;
	-moz-border-radius:15px;
	overflow:auto;
	font-family:'andale mono','lucida';
}
.code-format table{width:100%;}
.code-format tr.even{background:#57534E;}
.code-format th{
	color:#938C84;
	background-color:transparent;
	font-weight:bold;
	text-align:right;
	border-right:#938C84 2px solid;
	padding:0 5px 0 0;
	vertical-align:top;
}
.code-format td{
	padding:0 0 0 15px;
	border-bottom:none;
}
.code-format .quote{color:#A5EFB8}
.code-format .notation{color:#BCE3F4}

/*画像*/
.alignright{float:right; margin-left:20px;}
.alignleft{float:left;margin-right:20px;}
.aligncenter{margin:20px auto;}
img.aligncenter{display:block;}
dl.wp-caption{
	margin-bottom:15px;
	background: none;
	border: none;
}

/*キャプション*/
.wp-caption-dd{
	font-size:0.75em;
	color:#666;
	margin:0.25em 0 0;
	text-align:left;
	border-left:none;
}

/*メッセージボックス*/
p.message{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-size:14px;
	padding:5px;
}
p.warning{
	color:#ff4d44;
	border:1px solid #ff4d44;
	background: #ffd4d2 url('img/icon-warning_32.png') 5px center no-repeat;
	padding-left:42px;
}
p.success{
	color:#059119;
	border:1px solid #059119;
	background: #c6f4cd url('img/icon-accepted_32.png') 5px center no-repeat;
	padding-left:42px;
}
p.notice{
	color:#05a;
	border:1px solid #06C;
	background: #9fc9f4 url('img/icon-notice_32.png') 5px center no-repeat;
	padding-left:42px;
}
/* ボタン */
a.button{
	padding:5px 7px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid #273138;
	color:#fff;
	background: #3d4850; /* Old browsers */
	background: -moz-linear-gradient(top, #3d4850 0%, #1c252b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d4850), color-stop(100%,#1c252b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3d4850 0%,#1c252b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3d4850 0%,#1c252b 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #3d4850 0%,#1c252b 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d4850', endColorstr='#1c252b',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #3d4850 0%,#1c252b 100%); /* W3C */
	-webkit-box-shadow:1px 1px 1px rgba(255,255,255,0.5), -1px -1px 2px rgba(0,0,0,0.5), 0 0 3px rgba(0,0,0,0.5) inset;
	-moz-box-shadow:1px 1px 1px rgba(255,255,255,0.5), -1px -1px 2px rgba(0,0,0,0.5), 0 0 3px rgba(0,0,0,0.5) inset;
	box-shadow:1px 1px 1px rgba(255,255,255,0.5), -1px -1px 2px rgba(0,0,0,0.5), 0 0 3px rgba(0,0,0,0.5) inset;
}
a.button:link,
a.button:visited{
	text-decoration: none;
}
a.button:hover{
	background: #4c5a65; /* Old browsers */
	background: -moz-linear-gradient(top, #4c5a65 0%, #2e3940 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c5a65), color-stop(100%,#2e3940)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4c5a65 0%,#2e3940 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4c5a65 0%,#2e3940 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #4c5a65 0%,#2e3940 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c5a65', endColorstr='#2e3940',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #4c5a65 0%,#2e3940 100%); /* W3C */
}
a.button:active{
	background:#252e34;
}

/*
 * 個別タグ設定終わり
 *--------------------*/