@charset 'utf-8';
#lwp-invoice{
	width:640px;
	margin:0 auto;
}
#lwp-invoice .header{
	background: url('img/bg-texture-dark.jpg') left top repeat;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	padding:10px 0 20px;
}
#lwp-invoice .header h1{
	width:380px;
	height: 40px;
	margin:0 auto;
	text-indent: -9999px;
	background: url('img/header-logo.png') left top no-repeat;
}
#lwp-invoice .footer{
	margin: 20px;
	font-size:1.4em;
	text-align:center;
	text-shadow:1px 1px 2px #fff;
	color:#252e35;
}
#lwp-invoice .main{
	font-size:1.6em;
	margin:30px 10px;
}
#lwp-invoice  table{
	margin:20px 0;
	border-spacing:0;
	empty-cells:show;
	border-collapse: collapse;
}
#lwp-invoice  table thead th,
#lwp-invoice  table thead td{
	background:#4D4945;
	color:#f3f3f3;
	padding:5px 8px;
}
#lwp-invoice  table caption{
	color:#000;
	text-align:left;
	font-size:1.5em;
}
#lwp-invoice  tbody th,
#lwp-invoice  tbody td{
	text-align:left;
	padding:5px 8px;
	font-size:0.85em;
	border-bottom:1px dotted #999;
}
#lwp-invoice input[type=text],
#lwp-invoice textarea{
	border:1px solid #ddd;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
#lwp-invoice textarea{
	width: 90%;
}
#lwp-invoice  tbody tr:nth-child(2n) td,
#lwp-invoice  tbody tr:nth-child(2n) th{
	background: #f3f3f3;
}
#lwp-submit{
	cursor: pointer;
}
/* Indicator */
.lwp-indicator{
	text-align: right;
	font-size:small;
	height:15px;
	line-height: 15px;
	margin:10px 0;
}
.lwp-indicator-progress-bg{
	display: inline-block;
	width:100px;
	height:13px;
	border:1px solid #ccc;
	margin-right:5px;
	text-align: left;
	background-color:#222;
	background-image: linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -o-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(222,222,222)),
		color-stop(0.84, rgb(235,235,235))
	);
}
.lwp-indicator-progress{
	display:inline-block;
	height:13px;
	width: 0;
	background-color: rgb(130,212,63);
	background-image: linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -o-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(130,212,63)),
		color-stop(0.67, rgb(100,207,58)),
		color-stop(0.84, rgb(201,230,115))
	);
}
.lwp-indicator-text{
	padding-top:1px;
	vertical-align:top;
	font-size:11px;
	font-weight: bold;
	color:#888;
}
.lwp-indicator-text strong{
	vertical-align: top;
	color:#000;
}
#lwp-invoice p.check-url-image{
	text-align: center;
	margin: 1em;
	}
	#lwp-invoice p.check-url-image strong{
		font-size: 1.6em;
		letter-spacing: 0.25em;
		margin: 0.5em 0;
		font-family:'Consolas', 'Courrier', 'andale mono', 'lucida console', 'Osaka-mono', 'Osaka－等幅', 'Meiryo UI', monospace;
	}