.card{
  &-link{
    transition: color .3s linear, background-color .3s linear, box-shadow .3s linear;
    display: block;
    margin: 10px;
    background: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    &:link, &:visited{
      text-decoration: none;
    }
    &:hover, &:active{
      text-decoration: none;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0);
      background: #f7f9e0;
    }
  }
  &-body{
    padding: 10px;
  }
  &-title{
    margin: 0 0 5px;
    font-size: 16px;
    font-family: $title-font;
    line-height: 1.1;
  }
  &-meta{
    font-size: 12px;
    margin-bottom: 10px;
    color: #666;
    i{
      color: #aaa;
    }
  }
  &-desc{
    color: #666;
    font-size: 12px;
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &-image{
    max-width: 100%;
    width: auto;
    height: auto;
  }
  &-footer{
    padding: 10px;
    border-top: 1px solid #ddd;
    &-icon{
      margin-right: 10px;
    }
    &-title{
      color: #888;
    }
  }
}


.front-welcome {
  border-bottom: 1px solid #ddd;
  padding-top: 40px;
  padding-bottom: 40px;
  &-title {
    font-family: $title-font;
    text-align: center;
    margin-bottom: 20px;
  }
  &-pict {
    text-align: center;
    margin: 20px 0;
    img {
      border-radius: 50%;
    }
  }
  &-desc {
    font-family: $body-font;
    font-size: 18px;
  }
}

.front-info {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding-top: 40px;
  padding-bottom: 40px;
  &-title,
  caption {
    font-family: $title-font;
    font-size: 20px;
    .fa {
      color: #aaa;
    }
  }
  &-table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    th, td {
      padding: 1em;
      border-bottom: 1px dotted #aaa;
    }
    th {
      font-weight: bold;
      font-family: $font-bold;
    }

  }
}

@mixin front-size($n) {
  $ratio: 100% / $n;
  $margin: $ratio / 20;
  $width: ( 100% - ( $margin * ($n + 1) ) ) / $n;
  .row {
    padding-left: $margin;
  }
  .widget {
    width: $width;
    margin-right: $margin;
  }
}

.front-widgets {
  padding: 40px 0;
  &.dense{
    background: #ddd;
    border-top: 1px solid #ccc;
  }
  .row {
    position: relative;
  }
  .widget {
    float: left;
    margin-bottom: 20px;
  }
  @include front-size(4);
  @each $var in (
          $screen-md-max 3,
          $screen-sm-max 2,
          $screen-xs-max 1
  ) {
    @media only screen and (max-width: nth($var, 1)) {
      @include front-size(nth($var, 2));
    }
  }
}

.like-box-container {
  height: 500px;
}

.alo_easymail {
  &_form_table {
    th, td {
      padding: 0.5em 0.75em;
    }
  }
  &_disclaimer {
    margin: 5px 0;
    padding: 0.5em;
    background: #ddd;
  }
  &_widget_form {
    .input-submit {
      @extend .btn;
      @extend .btn-raised;
      @extend .btn-primary;
      width: 100%;

      display: block;
    }
  }
}

.budou{
  display: inline-block;
  &.ascii{
    margin-left: 0.25em;
    & + .jp{
      margin-left: 0.25em;
    }
  }

}
