//
// =-------------------
// Navigation
//
//
.header {
  .navbar {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    .navbar-toggle .icon-bar{
      background-color: #000;
    }
    .header-navbar {
      @media only screen and (max-width: $grid-float-breakpoint) {
        .open .dropdown-menu {
          background-color: #f9f9f9;
          & > li > a {
            font-size: 0.85em;
            &:link, &:visited {
              color: #000;
              text-decoration: none;
            }
            &:hover, &:active {
              color: #aaa;
              text-decoration: none;
            }
          }
        }
      }

      * li {
        &.active a {
          background-color: #eee;
          &:link, &:visited {
            color: #000;
            text-decoration: none;
          }
          &:hover, &:active {
            color: #aaa;
            text-decoration: none;
          }
        }
        & > a {
          &:link, &:visited {
            color: #000;
            text-decoration: none;
          }
          &:hover, &:active {
            color: #aaa;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.headroom{
  &--pinned{
    display: block;
  }
  &--unpinned{
    display: none;
  }

}

//
// =-------------------
// Navigation
//
//
.front-image {
  &, &-eyecatch {
    overflow: hidden;
    margin-top: $navbar-height;
    position: relative;
    z-index: 1;
  }

  &-sheet, &-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &-sheet {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    .toggle &{
      filter: none;
    }
    z-index: 1;
  }
  &-cover{
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
    .toggle &{
      background-color: transparent;
    }
  }


  &-container{
    position: relative;
    z-index: 3;
  }

  &-avatar{
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
  }

  &-title {
    border-bottom-color: #ddd;
    margin: 80px 0 40px;
    padding: 40px 0;
    .front-image &{
      margin: 40px 20px;
      padding: 20px 0;
      @media only screen and (max-width: $screen-sm-max) {
        margin: 20px 0 10px;
      }
    }
    @media only screen and (max-width: $screen-sm-max) {
      margin: 60px 0 10px;
    }
  }
  &-text {
    text-align: center;
    font-size: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: $title-font;
    padding-right: 2em;
    padding-left: 2em;
    .toggle & {
      opacity: 0;
    }
    .front-image &{
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    color: #fff;
    //text-shadow: 0 0 5px rgba(0, 0, 0, .6);
    @media only screen and (max-width: $screen-sm-max) {
      padding-right: 0.5em;
      padding-left: 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 2em;
    }
  }
  &-credit {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 5;
    text-align: right;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-family: $mono;
  }
  &-toggle{
    position: absolute;
    display: block;
    left: 10px;
    bottom: 10px;
    z-index: 6;
    color: #fff;
    width: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: 100%;
    background-color: rgba( 255, 255, 255, .2 );
    box-shadow: 0 0 3px 0 rgba( 0, 0, 0, .2 );
    transition: background-color .3s 0 linear, color .3s 0 linear;
    &:hover{
      background-color: rgba( 255, 255, 255, .4 );
      color: $brand-danger;
    }
    .toggle & {
      background-color: #fff;
    }
    i{
      .toggle &{
        color: $brand-primary;
      }
      color: #fff;
      font-size: 1.5em;
    }
  }
}



//
// =-------------------
// Navigation
//
//
.breadcrumb{
  font-size: 0.85em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  .container{
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
