$dahlgren-base: #222;
$dahlgren-color: #fff;
$dhalgren-accent: $brand-danger;

.podcast {

  &-dahlgren-radio {
    background-color: $dahlgren-base !important;
    color: #fff;
    a:link, a:visited {
      color: #fff;
      text-decoration: underline;
    }
    a:hover, a:active {
      color: $brand-danger;
      text-decoration: none;
    }
    .share{
      a:link, a:visited{
        color: #000;
        text-decoration: none;
      }
      a:hover, a:active{
        color: #00a0d2;
        text-decoration: none;
      }
    }
  }

  &-header {

    &-title {
      margin: 0;
      padding: 40px 0;
      text-align: center;
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }

  }

  &-card{
    &-wrapper{
      margin-top: 20px;
      margin-bottom: 20px;
      a{
        text-decoration: none !important;
      }
    }
  }

  &-list{

    margin: 40px 0;
    $icon-size: 80px;

    &-item{

      &:nth-child(2n+1){
        clear: left;
      }



      a{
        display: block;
        position: relative;
        padding: 20px 20px 20px $icon-size + 40;
        min-height: $icon-size;
        &:link, &:visited{
          background: rgba( 255, 255, 255, .1 );
          color: $white;
          text-decoration: none;
        }
        &:hover, &:active{
          background: rgba( 255, 255, 255, .2 );
          color: $yellow;
          text-decoration: none;
        }
      }

    }
    &-signal {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      color: rgba( 255, 255, 255, .1 );
      &:before{
        font-size: $icon-size;
      }
    }
    &-title{
      margin: 0 0 10px;
      font-size: 22px;
      font-weight: normal;
    }

    &-meta{
      font-size: 14px;
      margin-bottom: 10px;
      margin-right: 1em;
      color: #aaa;
      span{
        margin-right: 10px;
      }
      .fa{
        color: #888;
      }
    }


  }

  &-main {

    .container {
      max-width: 640px;
    }

    &-title {
      color: #fff;
    }

  }

  &-excerpt {
    color: #888;
    font-size: 1.4em;
    line-height: 1.4;
  }

  &-content {
    margin: 40px 0;
    font-size: 1.2em;
    line-height: 1.6;
    .podcast_player {
      margin: 20px 0;
      clear: both;
    }
    .mejs-container,
    .mejs-container .mejs-controls {
      background-color: #444 !important;
    }
  }

  &-pager {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;

    a {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      small {
        display: block;
        color: #888;
      }
    }
  }

  &-footer {
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }

}