.budou{
  display: inline-block;
}

.page-header {
  border-bottom-color: #ddd;
  margin: 80px 0 40px;
  padding-bottom: 40px;
  @media only screen and (max-width: $screen-sm-max) {
    margin: 60px 0 10px;
  }
  &-text {
    text-align: center;
    font-size: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: $title-font;
    padding-right: 2em;
    padding-left: 2em;
    @media only screen and (max-width: $screen-sm-max) {
      padding-right: 0.5em;
      padding-left: 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 2em;
    }
  }
  &-image {
    text-align: center;
    @media only screen and (max-width: $screen-sm-max) {
      img{
        width: 80px;
        height: 80px;
      }
    }
  }
  &-meta {
    margin-top: 40px;
    font-size: 0.85em;
    .fa {
      color: #ddd;
    }
  }
}

.entry{
  @include post_style();
}

.eyecatch {
  margin-bottom: 40px;
  text-align: center;
  img {
    max-width: 100%;
    width: auto;
    height: auto;

  }
  figcaption {
    font-size: 0.85em;
    color: #888;
    text-align: center;
    margin-top: 20px;
  }
}

%headings {

  font-size: 20px;
  font-family: $title-font;
  i {
    color: #aaa;
  }
}

// タグ
.post-tags {
  &-title {
    @extend %headings;
    margin-top: 20px;
  }
}

// 関連記事
.related {
  &-title {
    margin-top: 0;
    @extend %headings;
  }
}

.post-detail {
  &-title {
    @extend %headings;
  }
}

.nextprevious {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  .prev, .next {
    width: 50%;
    .fa {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 20px;
      color: #ccc;
    }
  }
  .prev {
    float: left;
    text-align: left;
    a{
      padding-left: 40px;
    }
    .fa {
      left: 10px;
    }
    &:last-child {
      border-right: 1px solid #ddd;
    }
  }
  .next {
    float: right;
    text-align: right;
    a{
      padding-right: 40px;
    }
    &:last-child {
      border-left: 1px solid #ddd;
    }
    .fa {
      right: 10px;
    }
  }
  small {
    display: block;
    color: #aaa;
  }
  a {
    display: block;
    padding: 30px 20px;
    position: relative;
    &:link, &:visited {
      text-decoration: none;
      color: #000;
    }
    &:hover, &:active {
      text-decoration: none;
      color: #000;
      background: #fff;
    }
  }
}


//
// LWP
//
.lwp-buynow{
}
.lwp-message{
  .notice{
    font-size: 1.2em;
    strong{
      font-family: $font-bold;
    }
    & + .center{
      padding-bottom: 2em;
      margin-bottom: 2em;
      border-bottom: 3px double #ddd;
    }
  }
  .center{
    text-align: center;
  }
  .success{
    padding: 1em;
    @extend .alert;
    @extend .alert-success;
    a{
      @extend .alert-link;
    }
  }
}
.lwp-invitation{
  display: none;
}

/*ダウンロードリスト*/
.lwp-file-list{
  padding: 1em;
  background: #e0e0e0;
  border-radius: 3px;
  margin-bottom: 2em;
  /*対応端末リスト*/
  .device{
    width: 100px;
    height: 100px;
    float: left;
    margin-bottom:10px;
    margin-right:10px;
    text-align: center;
    &-desc{
      clear: both;
      margin: 1em 0;
    }
    small{
      display: block;
      font-size:10px;
    }
    span{
      display: block;
      font-size: 11px;
      line-height: 1.1;
      font-weight: bold;
    }
    img{
      display: block;
      margin: 5px auto;
    }
  }
  .valid{
    color: $brand-success;
  }
  p{
    font-size: 12px;
    color: #888;
    line-height: 1.4;
    margin: 10px 0;
    padding-top: 5px;
    &.device-desc{
      padding: 1em;
      border-radius: 3px;
    }
  }
  #download-list{
    margin-top: 1em;
  }
  .file-list{
    margin-bottom: 2em;
    width:100%;
    border-collapse: collapse;
    border: none;
    td{
      padding: 15px 5px 5px;
      border-bottom: 1px dotted #E5E5E5;
      &.center{
        text-align: center;
      }
      &.width150{
        width: 150px;
      }
      em.mono{
        display: block;
      }
      .file-title{
        font-size: 1.4em;
      }
      .desc{
        p{
          margin: 0;
        }
      }
      small{
        color: #888;
        font-size: 0.75em;
        &.desc{
          display: block;
          padding-top: 5px;
          font-size: 0.85em;
        }
      }
    }
  }
}
.lwp-file-alert{
  background: #ddd;
  padding: 1em;
  border: 1px solid #ccc;
}

.lwp-ticket-list{
  padding: 0 10px;
  table{
    width: 100%;
    font-size: 1.2em;
    border-collapse: collapse;
    th, td{
      padding: 1em;
    }
    thead{
      th{
        border-bottom: 3px double #ddd;
        color: #888;
      }
    }
  }
}
