/****************************************
 * 3.トップページ設定
 ****************************************/

// ロゴのサイズ
$logo-size: 256px;


/* ヘッダー */
.title_box{
    position: relative;
    min-height: $logo-size * 1.5;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: ($logo-size / 2 * -1);
        margin-top: ($logo-size / 2 * -1);
    }
    .header-image{
        width: 100%;
        height: auto;
    }
    .photo-credit{
        position: absolute;
        font-size: 1.2em;
        right: 1em;
        bottom: 1em;
        color: $white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
        a{
            &:link,
            &:visited{
                color: $white;
                text-decoration: underline;
            }
            &:hover,
            &:active{
                color: $link-crimson;
                text-decoration: none;
            }
        }
    }
}

// タブレットのときはそのまま
// スマホの時は画像サイズ半分
@media screen and (max-width:  ($tablet - 1) ){
    .title_box{
        min-height: $logo-size;
        h1{
            margin-left: $logo-size / 4 * -1;
            margin-top: $logo-size / 4 * -1;
            img{
                width: $logo-size / 2;
                height: $logo-size / 2;
            }
        }
        .photo-credit{
            font-size: 1em;
        }
    }
}




.welcome-box{
    background: #f9f9f9;
    border-bottom: 3px solid #ddd;
    .main-content{
        padding: 40px 20px;
    }
    p.avatar{
        text-align: center;
        img{
            -webkit-border-radius:50%;
            -moz-border-radius:50%;
            border-radius:50%;
        }

    }
        h2{
            text-align: center;
            line-height: 1.1;
            font-size: 2.4em;
            font-family: $title-font;
            font-weight: bold;
            color: $title-font-color;
            margin-bottom: 20px;
            color: $semi-blue;
        }
        .desc{
            margin: 0 auto;
            max-width: 670px;
            color: $semi-blue;
            font-size: 2em;
            line-height: 1.5;
            font-family: $body-font;
        }
}


/* メインエリア */
.desc-box-front{
    padding:0 0 2em;
    position: relative;

    // コンテナ調整
    .grid_2,
    .grid_1{
        float: left;
    }
  .post-list h3{
    height: auto;
  }
}
// トップページmasonry
@mixin masonry($width, $gutter){
    margin-left: $gutter;
    .grid_2{
        width: $width;
        margin-right: $gutter;
    }
    .grid_1{
        width: $width * 2 + $gutter;
        margin-right: $gutter;
    }
}
// 通常は3列
.desc-box-front{
    @include masonry(280px, 30px);
}
// 巨大な場合は4列
@media screen and (min-width: $large-desktop){
    .desc-box-front{
        @include masonry(280px, 24px);
    }
}
// タブレットは2列
@media screen and (min-width: $tablet) and (max-width: $desktop) {
    .desc-box-front{
        @include masonry(330px, 36px);
    }
}
// スマホは1列
@media screen and (max-width: $tablet - 1) {
    .desc-box-front{
        padding: 0 10px;
        width: auto;
        margin-right: 0;
        margin-left: 0;
        .grid_1,
        .grid_2{
            float: none;
            width: auto;
            margin-right: 0;
        }
    }
}





// 中の調整
.desc-box-front{
    // トップページ投稿エリア

    // その他
    .grid_2{
        border-bottom: 3px double $thin-grey;
        .about{
            padding: 20px;
            background: $section-bg-color;
            p{
                margin-bottom: 0;
                padding-bottom: 20px;
                border-bottom: 1px solid $semi-light-grey;
            }
        }
        li li ul {
            display: none;
        }
    }
}
