/****************************************
 * 3.トップページ設定
 ****************************************/
.desc-box{
	padding:4em 0 2em 30px;
	position: relative;
	
	/* グリッドシステム */
	.grid_1, .grid_2{
		margin-right: 20px;
		margin-bottom: 20px;
		float: left;
		border-top: 3px double $deep-blue;
		padding:20px 10px;
	}
	.grid_1{
		width: 580px;
	}
	.grid_2{
		width: 270px;
	}
	.no_shadow{
		background-color: transparent;
		border: none;
	}
	
	.title_box{
		h1{
			color: $deep-blue;
			font-weight: bold;
			font-size: 4em;
			font-family: $sans;
			text-shadow: 2px 2px 3px #fff;
			font-weight: bold;
			margin-left: 24px;
		}
		.desc{
			font-size: 1.2em;
			color: #999;
			text-shadow: 1px 1px 2px #fff;
			margin: 0.5em 0 2em 24px;
		}
		.quote{
			color: $deep-blue;
			text-shadow: 1px 1px 2px #fff;
			position: relative;
			blockquote{
				font-size: 1.4em;
				font-style: italic;
				margin: 0 24px;
				p{
					margin: 0;
				}
				cite{
					margin: 0.5em 0 0;
					display: block;
					font-size: 0.85em;
					font-style: normal;
					height: 24px;
					line-height: 24px;
					text-align: right;
				}
			}
			i{
				display: block;
				height: 24px;
				background: url('../img/meta-icons-2.png') left -288px no-repeat;
				&.after{
					background-position: right -312px;
					width: 24px;
					position: absolute;
					right:0;
					bottom: 0;
				}
			}
		}
	}
	.grid_1{
		
		h2{
			line-height: 30px;
			height: 30px;
			font-size: 24px;
			font-weight: bold;
			color: $pale-green;
			text-shadow: 1px 1px 2px #fff;
			margin-bottom: 20px;
		}
		.desc{
			font-size: 1.4em;
			text-shadow: 1px 1px 2px #fff;
			font-weight: bold;
			line-height: 1.5;
		}
	}
	.grid_2{
		h2, h3, caption{
			line-height: 30px;
			height: 30px;
			font-size: 24px;
			font-weight: bold;
			color: $deep-blue;
			text-shadow: 1px 1px 2px #fff;
			margin-bottom: 0.5em;
			i{
				margin-right: 0.5em;
			}
		}
		h4{
			font-size: 1.4em;
		}
		table{
			width: 100%;
			border-collapse: collapse;
			th,td{
				padding: 5px 10px;
				font-size: 1.2em;
			}
			tr:nth-child(2n){
				th, td{
					background-color: #f9f9f9;
				}
			}
			th{
				font-weight: bold;
				text-align: right;
				border-right:1px solid $thin-grey;
			}
			td{
				
			}
		}
		.avatar{
			@extend .img-circle;
			@extend .img-pressed;
		}
		p{
			color: #666;
			text-shadow: 1px 1px 2px #fff;
			margin:  10px 0;
			line-height: 1.4;
			font-size: 1.4em;
		}
		.st-tag-cloud{
			line-height: 1.1;
			margin-top: 10px;
			a{
				&:link,&:visited{
					text-decoration: none;
				}
				&:hover{
					text-decoration: none;
					color: $orange !important;
				}
				&:active{
					text-decoration: none;
					color: $warning-red !important;
				}
			}
		}
		caption{
			margin-bottom: 10px;
		}
	}
	/* 投稿リスト */
	ol.post-list,
	ol.wppp_list{
		li{
			padding-top: 1em;
			margin-top: 1em;
			border-top: 1px solid rgba(255, 255, 255, 0.2);
			@include box-shadow(0 -1px 0 rgba(0, 0, 0, 0.1));
			&:first-child{
				border-top: none;
				@include box-shadow(none);
				margin-top: 0;
			}
			a{
				&:link{
					color: $pale-green;
					text-decoration: none;
				}
				&:visited{
					color: $light-grey;
					text-decoration: none;
				}
				&:hover{
					color: $orange;
					text-decoration: underline;
				}
				&:active{
					color: $warning-red;
				}
			}
			img{
				float: left;
				margin: 0 0.5em 0.5em 0;
				max-width: 80px;
				height: auto;
			}
			.date{
				clear: right;
				display: block;
				text-align: right;
				font-size: 1.1em;
				padding-top: 0.5em;
			}
			.desc{
				clear: left;
				font-size: 0.9em;
				line-height: 1.2;
			}
			.score{
				font-family: $old;
				position: relative;
				font-size: 1.8em;
				float: right;
				padding: 0 0 0.5em 0.5em;
				color: #ccc;
				text-shadow: 1px 1px 2px #fff, 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
				@include border-radius(3px);
			}
		}
	}
	ol.wppp_list{
		li{
			@include clearfix();
			font-size: 1em;
			a{
				font-size: 1.6em;
			}
		}
	}
	/* 画像ウィジェット */
	.widget_sp_image-image-link{
		img.aligncenter{
			display: block;
			margin: 10px auto;
		}
	}
	.widget_sp_image-description{
		font-size: 1.1em;
	}
	.textwidget{
		margin: 1em 0 2em;
		line-height: 1.4;
		font-size: 1.4em;
		text-shadow: 1px 1px 2px #fff;
		abbr{
			font-style: italic;
			font-weight: bold;
			border-bottom: 1px dashed #888;
		}
	}
	/* ニュースレター */
	#alo_easymail_widget_feedback{
		font-size: 1.1em;
		font-weight: bold;
		margin: 0.5em 1em;
		color: grey;
		&.alo_easymail_widget_ok{
			color: green;
		}
	}
	#alo_em_widget_loading{
		margin: 0.5em 1em;
	}
	#alo_easymail_widget_form{
		input[type=text]{
			@include border-radius(3px);
			@include box-shadow(rgba(255, 255, 255, 0.2) 1px 1px 2px, rgba(0, 0, 0, 0.2) 1px 1px 2px inset);
		}
		.alo_easymail_preform_msg{
			font-size: 1.4em;
			margin: 0.5em 0;
			padding-bottom: 0.5em;
			border-bottom: 1px dotted #ddd;
			color: #000;
		}
		p.message{
			padding: 0.25em 0.5em;
			padding-left: 42px;
			font-size: 1.2em;
		}
	}
	/* クオート */
	.quotescollection_randomquote{
		p:first-child{
			position: relative;
			background: #fff;
			border: 1px solid #ccc;
			padding: 0.5em;
			margin-bottom: 20px;
			&:after, &:before {
				top: 100%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-top-color: #ffffff;
				border-width: 14px;
				left: 50%;
				margin-left: -14px;
			}
			&:before {
				border-color: rgba(204, 204, 204, 0);
				border-top-color: #cccccc;
				border-width: 15px;
				left: 50%;
				margin-left: -15px;
			}
		}
		q{
		}
		cite{
			font-size: 0.9em;
			margin-top: 0.5em;
		}
	}
	/* 電子書籍ウィジェット */
	.widgets-ebook-content{
		border-top: 1px dashed $thin-grey;
		padding-top: 10px;
		margin-top: 10px;
		position: relative;
		&:first-child{
			border-top: none;
		}
		.attachment-pinky-cover{
			float: left;
			margin-right:  10px;
			@include box-shadow(1px 1px 2px rgba(255,255,255,0.5), -1px -1px 3px rgba(0,0,0,0.2), 0 0 3px rgba(0,0,0,0.5));
		}
		h4{
			position: relative;
			padding-right:3em;
			a{
				text-decoration: none;
			}
			.price{
				position: absolute;
				right: 0;
				top: 0;
				background-color: #FFDE20;
				color: #000;
				font-weight: normal;
				font-style: italic;
				padding: 3px;
				line-height: 1;
				@include border-radius(3px);
			}
		}
		.excerpt{
			font-size: 1.2em;
			text-shadow:1px 1px 2px #fff;
			margin:0.75em;
		}
		.sale-icon{
			position: absolute;
			left: 60px;
			top: -1px;
		}
		a.button{
			font-size: 0.8em;
		}
	}
}



/* トップページサイドバー */
.desc-parts{
	.nav-menu{
		margin: 30px 0;
		text-align: center;
		font-size: 1.2em;
		li{
			display: inline;
			margin-right: 0.5em;
			padding-left: 0.5em;
			border-left: 1px solid $deep-blue;
			&:first-child{
				border-left: none;
			}
		}
	}
	h2{
		font-size: 3em;
		color: $pale-green;
		text-shadow: 1px 1px 2px #fff;
		text-align: center;
	}
	div.desc{
		text-align: center;
		color: #888;
		margin: 1em 100px 80px;
		text-shadow: 1px 1px 2px #fff;
		font-size: 1.4em;
		line-height: 1.4;
	}
}
