/*---------------------
 * レイアウトパーツ
 */
/*全体レイアウト*/
.margin{
	width:960px;
	margin:0 auto;
}
#main{
    width: 630px;
    float: left;
}
#sidebar{
	width: 330px;
    float: right;
}

.grid_4{
	float: left;
	width: 280px;
	margin-right: 40px;
	&.last{
		margin-right: 20px;
	}
	&.first{
		margin-left: 20px;
	}
}

.entry{
}

//--------------------
//
// 大きなデスクトップ
//
//--------------------
@media (min-width: 1280px) {
	.margin{
		width: 1280px;
	}
    #main{
        width: 900px;
        padding-left: 30px;
        padding-right: 20px;
    }
	.grid_4{
		width: 360px;
		margin-right: 60px;
		&.last{
			margin-right: 30px;
		}
		&.first{
			margin-left: 30px;
		}
	}
	$bigGutter: 30px;
	div.archive{
		padding-left: $bigGutter;
		.archive-box{
			margin-right: $bigGutter;
			margin-bottom: $bigGutter;
		}
	}
}


//
// タブレットからデスクトップ
// --------------------------------------------------
@media (min-width: 768px) and (max-width: 959px) {
	.margin{
		width: 768px;
	}
	.grid_4{
		width: 230px;
		margin-right: 25px;
		&.last{
			margin-right: 10px;
		}
		&.first{
			margin-left: 10px;
		}
	}
	$middleGutter: 15px;
	header .title-meta{
		padding-left: 0;
		padding-right: 0;
	}
	.google-share{
		width: 748px;
	}
	div.archive{
		padding-left: $middleGutter;
		.archive-box{
			margin-right: $middleGutter;
			margin-bottom: $middleGutter;
		}
	}
	.entry{
		width:748px;
		padding-right: 10px;
		padding-left: 10px;
		.syntaxhighlighter{
			width: 748px !important;
			margin-left: 0 !important;
		}
		.wp-caption{
			max-width: 748px;
			img{
				max-width: 748px;
				height: auto;
			}
		}
	}
}


//
// それ以下（スマートフォン）
// --------------------------------------------------
@media (max-width: 767px) {
	
	@include smartphone();
}