/*---------------------
 * レイアウトパーツ
 */
/*全体レイアウト*/
.margin {
  max-width: $desktop;
  margin: 0 auto;
}

#main {
  margin: 0 20px;
}

#sidebar {
  width: 330px;
  float: right;
}

.home .margin {
  max-width: 1280px;
}

#sidebar .grid_2 {
  width: auto;
  float: none;
  margin-right: 5px;
  margin-left: 25px;
  border-bottom: 3px double $thin-grey;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-bottom: none;
  }
}

.grid_4 {
  float: left;
  width: 280px;
  margin-right: 40px;
  &.last {
    margin-right: 20px;
  }
  &.first {
    margin-left: 20px;
  }
}

// フッター
@media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
  footer {
    .grid_4 {
      width: 42%;
      margin: 0 4%;
      &.first {
        margin-left: 4%;
      }
      &.last {
        clear: both;
        width: auto;
        float: none;
        margin: 0;
        padding: 26px;
      }
    }
  }
}

.entry {
}

//--------------------
//
// 大きなデスクトップ
//
//--------------------
@media screen and (min-width: $large-desktop) {
  $bigGutter: 30px;
  div.archive {
    padding-left: $bigGutter;
    .archive-box {
      margin-right: $bigGutter;
      margin-bottom: $bigGutter;
    }
  }
  .home{
    footer{
      .margin{
        max-width: 960px;
      }
    }
  }
}

//
// タブレットからデスクトップ
// --------------------------------------------------
@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {

  #main {
    margin: 0 40px;
  }

  .no-if-touch {
    display: none;
  }
  .grid_4 {
    width: 230px;
    margin-right: 25px;
    &.last {
      margin-right: 10px;
    }
    &.first {
      margin-left: 10px;
    }
  }

  $middleGutter: 15px;

  header .title-meta {
    padding-left: 0;
    padding-right: 0;
  }

  div.archive {
    padding-left: $middleGutter;
    .archive-box {
      margin-right: $middleGutter;
      margin-bottom: $middleGutter;
    }
  }
}

//
// それ以下（スマートフォン）
// --------------------------------------------------
@media screen and (max-width: ($tablet - 1px)) {

  #main {
    margin: 0 10px;
  }

  .grid_1,
  .grid_2,
  .grid_4 {
    width: auto;
    margin-right: 0;
    float: none;
  }

  @include smartphone();
}