/* Admin bar */
#wpadminbar{
	background: $body-color;
	.adminbar-logo {
		width: 24px;
		height: 24px;
		margin-top: 4px;
	}
	.ab-top-secondary{
		background: $body-color;
	}
	#wp-admin-bar-main-menues i{
		margin-right: 0.5em
	}
}

@media screen and (max-width: $tablet - 1) {
    #wpadminbar{
        .adminbar-logo{
            width: 36px;
            height: 36px;
            margin-top: 5px;
            margin: 5px 10px;
        }
    }
}

/*ナビゲーション*/
#navi{
	border-bottom:3px double $body-color;
	color: $semi-light-grey;
	overflow: hidden;
    background: $section-bg-color;
	&.archive{
		header{
			padding: 10px;
			position: relative;
		}
		h1{
			font-size: 2em;
			margin: 0.5em 0;
			small{
				font-size: 0.8em;
				padding: 0.1em;
				margin-right: 0.2em;
				padding: 5px 10px;
				@include border-radius(3px);
				color: #fff;
				background-color: $deep-blue;
				i{
					margin-right: 5px;
				}
			}
		}
		.location{
			font-size: 1.2em;
			line-height: 2em;
			height: 2em;
			i{
				margin-right: 0.25em;
			}
		}
		.count{
			backgrond-color: $deep-blue;
		}
		.wp-pagenavi{
			font-size:1.2em;
			text-align: right;
		}
	}
	
	/* ソーター */
	#sorter{
		label{
			color: #fff;
			text-shadow:0 0 3px rgba(0,0,0,0.5);
			font-size:1.2em;
		}
		p{
			margin: 0;
			height: 40px; 
			line-height: 40px;
		}
		input[type=text]{
			border: 1px solid #ccc;
			color: #666;
			font-size: 14px;
			margin-left:0.5em;
			paddign: 2px 5px;
			@include border-radius(3px);
		}
	}
	.breadcrumb{
		height:24px;
		line-height:24px;
		margin:10px auto;
		font-size:1.1em;
		text-align: left;
		i{
			font-size: 24px;
			vertical-align: middle;
		}
        a:link, a:visited{
            color: inherit;
        }
        a:hover, a:active{
            color: $light-grey;
        }

	}
	p.center{
		font-size: 1.6em;
	}
}

#to-top{
	width: 100%;
	position: fixed;
	text-align: right;
	font-size: 40px;
	z-index: 80;
	top: 40px;
	display: none;
	a{
		margin-right: 40px;
		@include single-transition(opacity, 0.2s, ease-in-out, 0);
		&:link, &:visited{
			color: $deep-blue;
			text-decoration: none;
			
		}
	}
}