@import "compass/css3/filter";

.netabare{
    position: relative;
    @include filter(blur(7px));
}

a.netabare-opener{
    position: relative;
    left: 50%;
    margin-left: -108px;
    margin-top: -25px;
    width: 200px;
    text-align: center;
    @include box-shadow(1px 1px 2px 5px rgba(255, 255, 255, 0.8));
}

.non-filter-blur{
    .netabare:after{
        content : '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.97);
    }
}

