@charset "utf-8";

/*---------------------
 * サイズ設定
 */
$large-desktop: 1280px;
$desktop: 960px;
$tablet: 768px;
$admin-bar-break-point: 782px;



/*---------------------
 * 色設定
 */

/* 本文文字色 */
$body-color: #45474d;

/* 背景色 */
$body-bg-color: #fff;
$section-bg-color: #f7f7f7;


/* 色 */
$deep-blue: #252e34;
$semi-blue: #333F46;
$title-font-color: #000;
$pale-yellow: #FBEE88;
$pale-green: #698a7c;
$orange: #ED8600;
$white: #fcfcfc;
$beige: #eeeeee;
$zebra-white: #f7f7f7;
$thin-grey: #ddd;
$emphasized-text-color: #000;
$light-grey: #666;
$semi-light-grey: #888;
$warning-red: #ff4d44;
$link-blue: #06c;
$link-purple: #7756bc;
$link-red: #c8402b;
$link-crimson: #ff0000;


/* メッセージ用の色 */
$error-text-color: #ff4d44;
$error-bg-color: #ffd4d2;
$success-text-color: #059119;
$success-bg-color: #c6f4cd;
$info-text-color: #05a;
$info-bg-color: #9fc9f4;

/* フォント設定 */
$serif: "Times New Roman", Times, "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体","MS P明朝" ,"ヒラギノ明朝体3",serif;
$old: Georgia, "Times New Roman", Times, "KleePro-M", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", serif;
$sans: Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
$mono: 'Courrier New', Courier, 'andale mono', 'lucida console', 'Osaka-mono', 'Osaka－等幅', 'Meiryo UI', monospace;

$single-title-font: 'PearlStd-L', serif;
$title-font: Garamond, "Baskerville", "Times New Roman", Times, "MatisseVPro-DB", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体", "メイリオ", Meiryo, serif;
$body-font: Garamond, "Baskerville", "Times New Roman", Times, "MatissePro-M", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体","MS P明朝" ,"ヒラギノ明朝体3",serif;
$samurai: "SamuraiStd-R", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", serif;

