@charset "utf-8";

/*---------------------
 * サイズ設定
 */
$large-desktop: 1280px;
$desktop: 960px;
$tablet: 768px;



/*---------------------
 * 色設定
 */

/* 本文文字色 */
$body-color: #45474d;

/* 背景色 */
$body-bg-color: #fff;
$section-bg-color: #f7f7f7;


/* 色 */
$deep-blue: #252e34;
$semi-blue: #333F46;
$title-font-color: #000;
$pale-yellow: #FBEE88;
$pale-green: #698a7c;
$orange: #ED8600;
$white: #fcfcfc;
$beige: #eeeeee;
$zebra-white: #f7f7f7;
$thin-grey: #ddd;
$emphasized-text-color: #000;
$light-grey: #666;
$semi-light-grey: #888;
$warning-red: #ff4d44;
$link-blue: #06c;
$link-purple: #7756bc;
$link-red: #ff4130;
$link-crimson: #ff0000;


/* メッセージ用の色 */
$error-text-color: #ff4d44;
$error-bg-color: #ffd4d2;
$success-text-color: #059119;
$success-bg-color: #c6f4cd;
$info-text-color: #05a;
$info-bg-color: #9fc9f4;

/* フォント設定 */
$serif: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体","MS P明朝" ,"ヒラギノ明朝体3",serif;
$old: Georgia, "Times New Roman", Times, serif;
$sans: "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
$mono: 'Consolas', 'Courrier', 'andale mono', 'lucida console', 'Osaka-mono', 'Osaka－等幅', 'Meiryo UI', monospace;
$body-font: 'Garamond', 'A1 Mincho', "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体","MS P明朝" ,"ヒラギノ明朝体3",serif;
$title-font: Georgia, 'Akashi', sans-serif;

.mincho{ font-family: $serif; }
.old{font-family: $old;}
.sans{font-family: $sans;}
.mono{font-family: $mono;}
strong{font-weight: bold;}


/*フロート解除*/
.clrL{clear: left;}
.clrR{clear: right;}
.clrB{clear: both;}

/*clearfix*/
.clearfix{
	@include clearfix();
}
/*---------------------
 * アラインメント
 */
.center{text-align: center;}
.left{text-align: left}
.right{text-align: right}
.top{vertical-align: top}
.middle{vertical-align: middle}
.bottom{vertical-align: bottom}



/*インラインブロック*/
.inline-block{
	display: inline-block;
}

/*リンク装飾*/
a{
	overflow: hidden;
	&:link{
        color: $link-blue;
        text-decoration: underline;
    }
	&:visited{
		color: $link-purple;
		text-decoration: underline;
	}
	&:hover{
		color: $link-red;
		text-decoration: none;
	}
	&:active{
		color: $link-crimson;
		text-decoration: underline;
	}
}

/*---------------------
 * 装飾
 */
/*背景画像*/
.dark_bg{
	background: $body-color;
}
/* テキストシャドウ */
.shadow{
	text-shadow:1px 1px 2px rgba(0, 0, 0, 0.8);
}

.hilight{
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8), -1px -1px 2px rgba(0, 0, 0, 0.8);
}


/* ルビ非対応ブラウザ */
.no-ruby{
	rt:before{
		content: '（';
	}
	rt:after{
		content: '）';
	}
}




.ui-tooltip-dark{
	font-size: 2em;
	line-height: 1.1;
}
.ui-tooltip-content{
	padding: 10px 20px;
	font-weight: normal;
}

/*---------------------
 * テキスト・背景色
 */
body{
	color: $body-color;
	word-wrap: break-word;
	text-align: justify;
	text-justify: inter-ideograph ;
	font-family: $sans;
	font-size:10px;
	background: $body-bg-color;
	position: relative;
}
