//--------------------------
//
// シングルページ
//
//--------------------------

/*---------------------
 * ヘッダーメタ
 */
/*タイトル*/
.title{
	text-align: left;
	margin: 0;
	padding:80px 80px 120px;
	color: $title-font-color;
	font-size: 7em;
    font-family: $title-font;
	font-weight: normal;
	line-height: 1.1;
	strong{
		display: block;
		text-align: center;
		font-size:0.6em;
		font-weight: bold;
	}
}
/*投稿件数*/
.header{
	position: relative;
	.calendar{
		position: absolute;
		top: -20px;
		right: 0px;
        padding-top: 20px;
		height: 100px;
		width: 120px;
		background: $body-color;
        @include border-radius(50%);
		color: $white;
		font-family: $old;
		text-align: center;
		.date{
			font-size: 1.2em;
			display: block;
			padding-top: 1.5em;
		}
		.year{
			font-size: 2.5em;
		}
	}
	.excerpt{
		padding: 1em 0 2em; 
		width: 60%;
		margin: 0 auto;
		font-size: 1.4em;
		font-weight: normal;
		text-shadow: 1px 1px 2px #fff;
		font-style: italic;
	}
}
/*タイトルメタ*/
.title-meta{
    width: 100%;
    margin-bottom: 40px;
    color: $semi-light-grey;
    th, td{
        font-size: 1.4em;
        padding: 0.5em;
    }
    th{
        text-align: right;
        border-right: 1px solid $beige;
        i{
            margin-right: 0.5em;
            color: $emphasized-text-color;
        }
    }
    tr:first-child{
        th, td{
            border-bottom: 1px solid $beige;
        }
    }
    td{
    }
}

#outdated-post{
    font-size: 1.4em;
    margin-bottom: 2em;
}

/*投稿スタイル*/
.entry{
	min-height: 400px;
	padding-bottom:20px;
		
	/* 継承する */
	@include post_style();
	
	/* Twitter ウィジェット*/
	div.fumiki-twitter-rendered{
		margin: 7px auto !important;
		width: auto !important;
		max-width: 502px !important;
	}
	
	/* LWPの定期購読 */
	.lwp-invitation{
		@extend p.message;
		@extend p.notice;
		clear: both;
	}
	
	/* Google Map */
	div.googlemap iframe,
	iframe[src*=maps\.google],
	iframe[src*=maps\.google]{
		width: 100%;
	}
}
// さらに大きい場合はフォントサイズを倍に
@media (min-width: 1280px) {
    .entry{
        font-size: 2.5em;
    }
}


/* コメント */
#respond{
	width: 760px;
	margin: 20px auto 0;
}

/*関連投稿*/
.related{
	 margin: 40px 0;
    h3{
        font-size: 2em;
        font-weight: bold;
        color: $semi-blue;
        margin-bottom: 20px;
    }
	/*説明書き*/
	.meta{
		width: 233px;
		float: left;
		padding: 5px;
		h4{
			font-size: 1.6em;
			color: #4C5A65;
			text-shadow: 1px 1px 2px #fff;
		}
		.meta p{
			font-size: 1.2em;
			color: #666;
			text-shadow: 1px 1px 2px #fff;
		}
		.meta p a{
			font-weight: bold;
		}
	}
}
 
/* 投稿ナビゲーション */
.next-previous{
	margin-top: 40px;
	padding-top: 40px;
	@include box-shadow(0 1px 1px rgba(255, 255, 255, 0.2) );
	border-top: 3px double $semi-light-grey;
    font-size: 2em;
	i{
		font-size: 1.5em;
		text-decoration: none;
	}
	p{
		width: 300px;
		float: left;
		font-size: 0.8em;
		line-height: 1.2;
		&.prev{
			i{
				float: left;
				margin-right: 0.5em;
			}
		}
		&.next{
			text-align: right;
			float: right;
			i{
				margin-left: 0.5em;
				float: right;
			}
		}
	}
}

/* 広告 */
.google-share{
	clear: both;
	margin-bottom: 20px;
	padding: 20px 10px;
	text-align: center;
    border-top: 3px double $semi-light-grey;
    .like{
        width: 100%;
        margin-bottom: 20px;
        td{
            text-align: center;
        }
    }
    .ad, .ad2{
        float: left;
        width: 336px;
        height: 280px;
    }
    .ad2{
        float: right;
    }
	h3{
		color: #ccc;
		text-shadow: 1px 1px 2px #fff;
		margin-bottom: 0.5em;
		font-size: 1.4em;
		font-weight: bold;
		
	}
	.div_3{
		width: 300px;
		float: right;
		&.ad{
			float: left;
			min-height: 250px;
		}
		table.like{
			width: 100%;
			td{
				text-align: center;
				padding: 10px;
				min-height: 60px;
			}
		}
	}
}

/*ダウンロードリスト*/
.file-list{
	margin-bottom: 2em;
	width:100%;
	border-collapse: collapse;
	border: none;
	td{
		padding: 15px 5px 5px;
		border-bottom: 1px dotted #E5E5E5;
		&.center{
			text-align: center;
		}
		&.width150{
			width: 150px;
		}
		em.mono{
			display: block;
		}
		.file-title{
			font-size: 1.4em;
		}
		.desc{
			p{
				margin: 0;
				font-size: 0.85em;
			}
		}
		small{
			color: #888;
			font-size: 0.75em;
			&.desc{
				display: block;
				font-size: 0.6em;
			}
		}
	}
}

/*対応端末リスト*/
.device-list{
	.device{
		width: 100px;
		height: 120px;
		float: left;
		margin-bottom:10px;
		margin-right:10px;
		small{
			display: block;
			font-size:10px;
		}
		span{
			display: block;
			font-size: 11px;
			line-height: 1.1;
			font-weight: bold;
		}
		img{
			display: block;
			margin: 5px auto;
		}
	}
	.valid{
		background: url('../img/ebook-devices/bg_device.gif') left bottom no-repeat;
		color: #8AB29F;
	}
	.invalid{
		background: url('../img/ebook-devices/bg_device.gif') right bottom no-repeat;
		color: #999;
	}
	p{
		font-size: 12px;
		color: #666;
		line-height: 1.4;
		margin: 10px 0;
		padding-top: 5px;
		text-shadow: 1px 1px 2px #fff;
	}
}