@mixin smartphone(){
	.margin,
	#respond{
		width: auto;
		padding-right: 0;
		padding-left: 0;
	}
	.entry{
		width: auto;
		padding-right: 10px;
		padding-left: 10px;
		overflow: hidden; 
		font-size: 1.4em;
		line-height: 1.6;
		.syntaxhighlighter{
			width: 100% !important;
			margin-left: 0 !important;
		}
		.alignright,
		.alignleft, 
		.aligncenter,
		div.alignnon,
		figure.alignnon,
		img.aligncenter{
			display: block;
			float: none;
			margin: 0 auto 1em;
		}
		img{
			max-width: 100%;
			height: auto;
			&.size-full{
				max-width: 100%;
				height: auto;
			}
		}
		.wp-caption{
			max-width: 300px;
		}
		iframe{
			max-width: 100%;
			height: auto;
		}
	}
	/* ナビゲーションバー */
	#wpadminbar{
        position: absolute;
        position: fixed;
        top: 0;
        #wp-admin-bar-top-secondary{
            position: absolute;
            right: 0;
            width: 50%;
        }
    }
	/* ナビゲーション */
	#navi{
		/* ぱんくず */
		.breadcrumb{
			font-size: 0.8em;
            padding-left: 1em;
			text-overflow: text-ellipsis;
			oveflow: hidden;
			height: 12px;
			line-height: 12px;
			@include ellipsis();
			i{
				font-size: 12px;
			}
		}
		#sorter p{
			height: auto;
		}
	}
	#to-top{
		a{
			margin-right: 10px;
		}
	}
	/* トップページヘッダー */
	
	/* ヘッダー */
	.header{
		.title{
			padding: 30px 10px 30px;
			font-size: 3em;
		}
		.title-meta{
			padding-right: 0;
			padding-left: 0;
			.google{
				width: auto;
				float: none;
				margin-bottom: 20px;
				text-align: center;
			}
			table{
				float: none;
				width: 100%;
			}
		}
		.calendar{
          height: 60px;
          width: 80px;
          padding-top: 20px;
          .date{
              padding-top: 0.5em;
              font-size: 1em;
          }
          .year{
              font-size: 1.2em;
          }
		}
		.excerpt{
			padding: 10px 10px 20px;
			width: auto;
			font-size: 1.4em;
		}
	}
	.ebook-detail{
		img.cover{
			max-width: 120px;
			height: auto;
		}
	}
	.file-list{
		td{
			.file-meta{
				small{
					display: block;
				}
			}
			.desc{
				p{
					font-size: 0.85em;
				}
			}
			&:first-child{
				display: none;
			}
			&.center img{
				width: 30px;
				height: 30px;
			}
			&.width150{
				width: 100px;
				padding-left: 0;
				padding-right: 0;
				a.button{
					padding: 3px 5px;
					font-size: 0.85em;
					small{
						font-size: 1em;
					}
				}
			}
		}
	}
	.google-share{
		width: 100%;
		paddign: 10px 0;
		background-image: none !important;
		.div_3{
			float: none;
			width: 100%;
			text-align: center;
			margin: 10px 0;
			&.share{
				width: 100%;
				table.like{
					width: 100%;
				}
			}
		}
	}
	/* Masonry */
	.desc-box{
		padding: 1em 0;
		
		.grid_1, .grid_2{
			float: none;
			width: auto;
			margin-right: 0;
		}
		.title_box{
			h1{
				margin: 0 10px;
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.desc{
				margin-left: 0;
				font-size: 1.1em;
			}
		}
	}
	div.archive{
		.archive-box{
			width: auto;
			float: none;
			.post-type{
				width: 100%;
			}
			&.google{
				p{
					text-align: center;
				}
			}
		}
	}
	/* テーブル */
	table.form-table{
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="search"],
		textarea{
			width: 150px;
		}
		select{
			max-width: 200px;
		}
	}
	
	/* フッター */
	.grid_4{
		width: auto;
		float: none;
		margin: 0 20px;
		&.last{
			margin-right: 20px;
		}
		&.first{
			margin-left: 20px;
		}
		h4{
			margin-top: 2em;
		}
	}
	#copy-note{
		p{
			width: auto;
			float: none;
			&.center{
				width: 100%;
				padding-top: 1em;
				clear: both;
			}
		}
	}
	/* 領収書ページ */
	#lwp-invoice{
		width: auto;
		padding: 0 10px;
		.header{
			padding-left: 0;
			padding-right: 0;
			h1{
				text-align: center;
				img{
					width: 240px;
					height: 25px;
				}
				span{
					text-align: left;
				}
			}
		}
		.main{
			p.indicator{
				background-size: 110px 10px;
				padding-bottom: 14px;
			}
			overflow: auto;
		}
		.lwp-column-method img{

		}
		&.lwp-payment-info{
			tr{
				th{
					display: block;
					border-bottom: none;
				}
				td{
					@include clearfix();
					display: block;
				}
			}
		}
		.lwp-ticket-table{
			thead{
				display: none;
			}
			tbody{
				th{
					display: block;
					white-space: normal;
					border-bottom: none;
				}
				td{
					display: block;
					font-size: 0.85em;
					color: #888;
					padding-right: 2px;
					padding-left: 2px;
					border-bottom: none;
					&:nth-child(2):before{
						content: '購入日: ';
					}
					&:nth-child(3):before{
						content: '価格: ';
					}
					&:nth-child(4):before{
						content: '購入枚数: ';
					}
					&:nth-child(5){
						border-bottom: 1px dotted #ddd;
						&:before{
							content: '使用済: ';
						}
					}
				}
			}
		}
	}
}
