/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/typography/text/ellipsis";
@import "_settings";
@import "_components";
@import "_post_style";
@import "_navigation";
@import "_footer";
@import "_front_page";
@import "_archive";
@import "_single";
@import "_smartphone";
@import "_layout";







/****************************************
 * 5.5.電子書籍用設定
 ****************************************/

/*サイドバー共通*/
#right .rectangle{
	margin:0 0 20px;
	background:#eee;
	padding:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#right .green{
	color:#ABCD03;
}
#right .orange{
	color:#FA8404;
}

/*一覧ページサイドバー*/
#right dl.about-ebook dt{
	font-size:22px;
	font-weight:bold;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px dotted #ccc;
}
#right dl.about-ebook dt span{
	display:block;
	font-size:14px;
	font-weight:normal;
	font-style:italic;
}
#right dl.about-ebook dd{
	font-size:12px;
	line-height:1.5;
	margin-bottom:20px;
	color:#666;
}
#right dl.about-ebook dd small{
	margin-top:10px;
	display:block;
	text-align:right;
}
#right dl.about-ebook dd small a{
	padding:3px 5px;
	font-size:10px;
	background:#E4007F;
	color:#fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

/*サイドバー購入ページ*/
#right .conversion,
#right .price{
	margin:20px 0;
}
#right .price{
	padding-bottom:20px;
	border-bottom:1px dotted #ccc;
	position:relative;
}
#right .how-to-buy{
	margin-top:20px;
	padding-top:20px;
	border-top:1px dotted #ccc;
}
/*セール中*/
#right .price del{
	color:#999;
	font-size:18px;
}
#right .price .discount{
	font-size:14px;
	color:#fff;
	background:#E4007F;
	padding:5px;
	border-radius:10px;
}
#right .price .discount span{
	font-size:18px;
	font-weight:bold;
}
#right .price .onsale{
	position:absolute;
	right:0;
	top:0;
}
#right .price .limit{
	font-size:12px;
}
#right .price .limit strong{
	font-size:14px;
}
#sale-timer{
	background:#fff url(img/ebook_clock.png) 10px center no-repeat;
	height:50px;
	line-height:50px;
	padding:5px 10px;
	border:3px solid #ccc;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	font-size:27px;
}
#sale-timer small{
	font-size:14px;
}

#right .thank-you{
	font-size:14px;
}
#right .price h3,
#right .conversion h3{
	font-size:22px;
	font-weight:bold;
}
#right .price h3 span,
#right .conversion h3 span{
	font-size:11px;
	font-weight:normal;
	font-style:italic;
	display:block;
}
#right .price .real-price{
	font-size:34px;
}
#right .conversion h4{
	font-size:14px;
	font-weight: bold;
	margin:10px 0;
}

/*書籍メタ情報*/
body.ebook .ebook-meta{
	padding:0;
}
body.ebook .ebook-meta h1{
	float: none;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ddd;
}

/*書籍詳細*/
.ebook-detail{
	position: relative;
	img.cover{
		@include box-shadow(1px 1px 5px #000);
	}
	 img.on-sale{
		position: absolute;
		left: 110px;
		top: 0px;
	}
	table{
		fons-size: 1.2em;
		td{
			text-shadow:1px 1px 2px #fff;
			line-height: 1.2;
		}
		.book-title{
			font-size: 2em;
			font-weight: bold;
		}
		.price{
			font-size:2em;
			color: $orange;
			.lwp-buynow{
				font-size:0.8em;
			}
			.lwp-rest,
			.lwp-timer{
				font-size: 0.6em;
				color: #06c;
			}
			.lwp-timer .day,
			.lwp-timer .hour,
			.lwp-timer .minutes,
			.lwp-timer .seconds{
				font-weight: bold;
				font-family: $mono;
			}
		}
		small{
			font-size: 0.85em;
			color: #666;
		}
		del{
			color: #999;
			text-shadow: none;
		}
		/*プロモーションリンク*/
		input.promotion-link{
			border: none;
			background: transparent;
			display: block;
			padding: 0;
			width: 100%;
			font-size: 0.85em;
			font-style: italic;
		}
	}
	div.excerpt,
	p.center{
		clear: right;
		float: right;
	}
}
/*立ち読みエリア*/
.ebook-more{
	position: relative;
	max-height: 200px;
	overflow: hidden;
	font-size:0.7em;
}
.ebook-more-cover{
	position: absolute;
	height: 198px;
	width:100%;
	background: #fff;
	top:0;
	left:0;
	border:1px dashed #ccc;
	border-left: none;
	border-right: none;
	opacity:0.6;
}
.ebook-read-more{
	position: absolute;
	display: block;
	width: 100%;
	top: 50%;
	margin: -20px 0 0 !important;
	font-size: 2em;
}
.ebook-more-body{
	padding:1em 2em;
}
.fancybox-inner .ebook-more-body{
	font-size:2em;
	p{
		text-indent: 1em;
		line-height: 2;
	}
}
/* スマートフォン用立ち読み */
.ebook-more-modal{
	position: absolute;
	background: #fff;
	z-index: 1000;
	overflow: hidden;
	padding: 0;
	margin:0;
	.ebook-more-body{
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		width: auto;
		font-size: 1.2em;
		padding-top: 0;
		padding-bottom: 0;
		&::-webkit-scrollbar {
			background: #eee;
			overflow: visible;
			width: 10px;
			@include border-radius(5px);
		}
		&::-webkit-scrollbar-thumb {
			@include border-radius(5px);
			background: #333;
		}
		&::-webkit-scrollbar-corner {
			background: transparent;
		}
	}
	.ebook-more-title{
		position: absolute;
		left:0;
		top:0;
		font-weight: bold;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
		text-indent: 1em;
		color: #999;
		font-style: italic;
	}
	.ebook-more-close{
		position: absolute;
		top:10px;
		right: 10px;
		font-size:15px;
	}
}
.ebook{
	/* アイキャッチ */
	.eyecatch{
		text-align: center;
	}
	/*対応端末リスト*/
	.device-list{
		.device{
			width: 100px;
			height: 120px;
			float: left;
			margin-bottom:10px;
			margin-right:10px;
			small{
				display: block;
				font-size:10px;
			}
			span{
				display: block;
				font-size: 11px;
				line-height: 1.1;
				font-weight: bold;
			}
			img{
				display: block;
				margin: 5px auto;
			}
		}
		.valid{
			background: url('../img/ebook-devices/bg_device.gif') left bottom no-repeat;
			color: #8AB29F;
		}
		.invalid{
			background: url('../img/ebook-devices/bg_device.gif') right bottom no-repeat;
			color: #999;
		}
		p{
			font-size: 12px;
			color: #666;
			line-height: 1.4;
			margin: 10px 0;
			padding-top: 5px;
			text-shadow: 1px 1px 2px #fff;
		}
	}
	/*ダウンロードリスト*/
	.file-list{
		margin-bottom:30px;
		width:100%;
		border-collapse: collapse;
		border:none;
		td{
			padding:15px 5px 5px;
			border-bottom:1px dotted #E5E5E5;
			&.center{
				text-align: center;
			}
			&.width150{
				width:150px;
			}
			em.mono{
				display: block;
			}
			.file-title{
				font-size:1.4em;
			}
			.desc{
				p{
					margin:0;
					font-size:0.85em;
				}
			}
			small{
				color: #888;
				font-size: 0.75em;
				&.desc{
					display: block;
					font-size: 0.6em;
				}
			}
		}
		
	}
	.entry p.desc a{
		font-size: 11px;
		color: #fff;
		padding: 3px 5px;
		background: #E4007F;
		@include border-radius(5px);
	}
}

/* 電子書籍ページ用設定上書き */
body.single-ebook h1.title{
	text-align: center;
	padding-bottom: 0;
}
body.single-ebook,
body.post-type-archive-ebook{
	 h1.title{
		text-align: center;
	}
	.header .excerpt{
		padding: 20px 200px 80px; 
		font-size: 1.4em;
		font-weight: normal;
		text-shadow: 1px 1px 2px #fff;
		font-style: italic;
	}
	.title-meta{
		.google{
			width: 300px;
			text-align: center;
		}
		table,.excerpt, p.center{
			width: 400px;
		}
		.excerpt{
			font-size: 1.4em;
			font-style: italic;
			margin: 1em 0;
		}
		p.center a{
			font-size: 1.2em;
		}
	}
}

/* 電子書籍サイドバー */
.ebook-sidebar{
	.widget_fumiki_ebook{
		padding-left: 10px;
		margin-bottom: 40px;
		h3{
			font-size: 2em;
			color: $deep-blue;
			padding-bottom: 5px;
			border-bottom: 1px dotted $deep-blue;
			font-weight: bold;
			text-shadow: 1px 1px 2px #fff;
			margin: 2em 0 1em;
		}
		li{
			width: 180px;
			padding-right: 10px;
			float: left;
			position: relative;
			.attachment-pinky-cover{
				display: block;
				margin: 0 auto 10px;
				@include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
			}
			h4{
				position: relative;
				text-align: center;
				a{
					font-size: 1.5em;
					color: $pale-green;
					text-shadow: 1px 1px 2px #fff;
					text-decoration: none;
				}
				.price{
					position: absolute;
					background-color: $orange;
					padding: 3px 5px;
					top: -120px;
					right: -5px;
					font-size: 2em;
					color: #fff;
				}
			}
			.excerpt{
				margin: 0.5em;
				font-size: 1.1em;
				line-height: 1.1;
			}
			.sale-icon{
				position: absolute;
				top: -17px;
				left: 30px;
			}
		}
	}
}

/*一覧ページ見出し*/
body.ebooks .catch{
	padding:20px 0;
	margin-bottom:20px;
	border-bottom:1px dotted #eee;
}

/*リボン*/
.entry .book-list img.campaign{
	position: absolute;
	left: -9px;
	top: -11px;
}

/*商品詳細*/
.entry .book-list{
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px dotted #E5E5E5;	
	dl{
		width: 310px;
		margin-top: 0;
		float: left;
		dd{
			margin-left:0;
			padding-left:0;
			&.orange{
				color: $orange;
			}
		}
	}
	/*ボタン*/
	p.more{
		margin:0;
		padding:15px 0 10px;
		a{
			background: #E4007F;
			padding: 8px 12px;
			font-size: 16px;
			color: #fff;
			text-decoration: none;
			@include border-radius(10px);
			@include box-shadow(0 0 5px #888);
			text-shadow: 0px 2px 3px rgba(255,255,255,0.7);
			&:hover{
				text-shadow: none;
			}
			&:active{
				@include box-shadow(none);
			}
		}
	}
}


/* 購入履歴 */
.entry{
	.wp-list-table{
		width:99%;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #262c30;
		thead,
		tfoot{
			th{
				padding:3px 5px;
				color: #fff;
				font-size: 0.8em;
				text-shadow: 1px 1px 3px #000;
				background: url('../img/bg-texture-dark.jpg') left top repeat;
				a:link,
				a:visited{
					text-decoration: none;
				}
			}
		}
		tbody td{
			padding:3px 5px;
			font-size:0.75em;
		}
	}
}
.tablenav-pages{
	font-size:0.75em;
	text-align: right;
	float: right;
	height:33px;
	line-height: 33px;
}
/****************************************
 * 電子書籍用設定
 ****************************************/

/****************************************
 * 8.イベント設定
 ****************************************/
body.single-events{
	.title{
		text-align: center;
	}
}
/****************************************
 * 8.イベント設定
 ****************************************/


/****************************************
 * 7.アカウント設定
 ****************************************/
/*プラグインのCSSを打ち消し*/
body.login{
	padding:0;
	#submit{margin:0;}
}


/*メイン*/
.login form p.submit input.button,
#nlmg-resign-form p.submit input{
	font-size: 20px;
	cursor: pointer;
}
/*フォームパーツ*/
.login form{
	textarea{
		resize: vertical;
		width: 90%;
		display: block;
		padding: 5px 10px;
		font-size: 20px;
	}
	select{
		font-size: 20px;
	}
	select option{
		font-size: 20px;
	}
	p{
		clear: left;
		label{
			padding: 3px 0 5px;
			font-weight: bold;
			display: block;
			width: 250px;
			float: left;
		}
		&.forgetmenot label{
			float: none;
			width: auto;
		}
	}
}
.form-table .description{
	display: block;
	margin: 1em 0;
	clear: both;
}
.login p input.input{
	font-size:20px;
	padding:5px 10px;
	width:300px;
}
/* OAuth */
#wpg-login,
#wpg-register,
#wpg-regsiter{
	text-align: center;
}
.login p.notice {
	color: #05A;
	border: 1px solid #06C;
	background-color: #9FC9F4;
	padding-left: 42px;
}
/* リンク */
.login .tml-action-links{
	padding-left:0;
	li{
		color: #252e34;
		display: inline-table;
		font-size:12px;
		line-height: 24px;
		height:24px;
		margin:0 5px 0 10px;
		background: url('../img/meta-icons-2.png') left -192px no-repeat;
		padding-left:28px;
		&:first-child{
			background-position: left -168px;
		}
	}
}


/****************************************
 * アカウント設定終わり
 ****************************************/
 








 /****************************************
 * 8.404設定
 ****************************************/
#error404{
	width: 320px;
	margin: 0 auto;
	height: 480px;
	position: relative;
	overflow: hidden;
	.logo{
		margin-top: 40px;
		img{
			width: 300px;
			height: 31px;
		}
		.description{
			font-size: 1.2em;
			color: #888;
			text-shadow: 1px 1px 2px #fff;
		}
	}
	h1{
		text-align: center;
		font-size: 30px;
		color: #8ab29f;
		text-shadow: 1px 1px 2px #fff;
		font-weight: bold;
		margin: 30px 0;	
	}
	p.message{
		font-size: 1.4em;
		margin: 1em 10px;
	}
	#copy-note{
		font-family: $mono;
		font-size: 10px;
		color: #888;
		text-shadow: 1px 1px 2px #fff;
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 2em;
		height: 2em;
		padding: 0;
		p{
			width: 100%;
			float: none;
			margin: 0;
			height: 2em;
			line-height: 2em;
		}
	}
}

/****************************************
 * 7.決済フォーム
 ****************************************/
#lwp-invoice{
	width: 640px;
	margin: 0 auto;
	.header{
		padding: 20px 40px;
		border-bottom: 1px dotted $deep-blue;
		h1{
			span{
				font-size: 1.2em;
				color: #888;
				display: block;
				margin: 0.5em 0;
				text-shadow: 1px 1px 2px #fff;
			}
		}
	}
	/* Notice */
	p.required{
		text-align: right;
	}
	.required{
		color: crimson;
	}
	/* price table */
	.price-table{
		width: 100%;
		table-layout: auto;
		border-collapse: collapse;
		margin: 1em 0;
		th,td{
			padding: 10px;
		}
		th{
			border-bottom: 1px solid #ddd;
		}
		thead{
			th{
				font-weight: bold;
			}
		}
		tbody{
			th, td{
				border-bottom: 1px dotted #f0f0f0;
			}
			tr:nth-child(odd){
				th, td{
					background-color: #f3f3f3;
				}
			}
			tr:last-child{
				th, td{
					border-bottom: none;
				}
			}
		}
		.price{
			white-space: nowrap;
			text-align: right;	
		}

		tfoot{
			th{
				text-align: right;
				font-weight: bold;
			}
			th, td{
				border-top: 3px double #ddd;
				border-bottom: 3px double #ddd;
			}
		}
	}
	.form-table{
		width:100%;
		margin:20px 0;
		border-spacing: 0;
		empty-cells: show;
		border-collapse: collapse;
		caption{
			color: #000;
			text-align: left;
			font-size: 1.5em;
		}
		thead{
			th,td{
				background: #4D4945;
				color: #f3f3f3;
				padding:0.5em 0.75em;
			}
		}
		tbody{
			th,td{
				text-align: left;
				padding:0.5em 0.75em;
				font-size: 0.85em;
				border-bottom: 1px dotted #999;
			}	
			tr:nth-child(2n) td,
			tr:nth-child(2n) th{
				background: #f3f3f3;
			}
		}
		th.lwp-column-method{
			text-align: center;
		}
		.lwp-column-method-desc{
			small{
				display: block;
				padding-top: 0.5em;
				margin-top: 1em;
				border-top: 1px solid #ddd;
				color: #666;
			}
			strong{
				color: #e4007f;
			}
		}
	}
	
	p.check-url-image{
		text-align: center;
		margin: 1em;
		strong{
			font-size: 1.6em;
			letter-spacing: 0.25em;
			margin: 0.5em 0;
			font-family: $mono;
		}
	}
	
	input[type=text],
	textarea{
		border:1px solid #ddd;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
	}
	textarea{
		width: 90%;
	}
	.footer{
		margin: 20px;
		font-size: 1.4em;
		text-align: center;
		text-shadow: 1px 1px 2px #fff;
		color: #252e35;
	}
	.main{
		font-size:1.6em;
		margin:30px 10px;
		p a.button{
			display: inline-block;
		}
	}
	
	/* CC Icon */
	.lwp-cc-icon{
		display: inline-block;
		width: 130px;
		height: 80px;
		background: url('../../../plugins/literally-wordpress/assets/icon-payment-method@2x.png') left top no-repeat; 
	}
	.icon-paypal {
		background-position: 0 bottom;
	}
	.icon-creditcard{
		background-position: 0 0;
	}
	.icon-transfer{
		background-position: right bottom;
	}
	.icon-cvs{
		background-position: -130px 0;
	}
	.icon-payeasy{
		background-position: -130px bottom;
	}
	.lwp-cc-small-icon{
		display: inline-block;
		margin-right: 0.5em;
		width: 52px;
		height: 32px;
		background: url('../../../plugins/literally-wordpress/assets/icons-creditcards.png') left top no-repeat;
	}
	.small-icon-jcb{
		background-position: left bottom;
	}
	.small-icon-amex{
		background-position: -52px bottom;
	}
	.small-icon-visa{
		background-position: -52px 0;
	}
	.small-icon-master{
		background-position: -104px 0;
	}
	.small-icon-diners{
		background-position: right bottom;
	}
	.cvs-container{
		display: block;
		width: 8em;
		float: left;
		margin: 0 1em 1em 0;
		text-align: center;
	}
	.lwp-cvs-small-icon{
		display: inline-block;
		margin-right: 0.5em;
		width: 32px;
		height: 32px;
		background: #fff url('../../../plugins/literally-wordpress/assets/icons-cvs.png') left top no-repeat;
		border: 1px solid #ccc;
	}
	.cvs-container .lwp-cvs-small-icon{
		margin-right: 0;
	}
	.small-icon-seven-eleven{
		background-position: left top;
	}
	.small-icon-lawson{
		background-position: -32px -32px;
	}
	.small-icon-ministop{
		background-position: 0 -32px;
	}
	.small-icon-circle-k{
		background-position: -32px 0;
	}
	.small-icon-sunkus{
		background-position: -64px 0;
	}
	.small-icon-seicomart{
		background-position: -64px -32px;
	}
	.small-icon-familymart{
		width: 64px;
		background-position: left bottom;
	}
	.small-icon-daily-yamazaki{
		background-position: right bottom;
	}
	p.sandbox{
		font-size: 0.9em;
		line-height: 1;
		display: inline-block;
		float: right;
		padding: 0.5em;
		@include border-radius(3px);
		@include box-shadow(1px 1px 2px rgba(255, 255, 255, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.2) inset);
		background-color: #ddd;
		color: #888;
		margin-top: 0;
		text-shadow: 1px 1px 2px #fff;
	}
}

#lwp-submit{
	cursor: pointer;
}
/* Indicator */
.lwp-indicator{
	text-align: right;
	font-size:small;
	height:15px;
	line-height: 15px;
	margin:10px 0;
}
.lwp-indicator-progress-bg{
	display: inline-block;
	width: 100px;
	height: 13px;
	border: 1px solid #ccc;
	margin-right: 5px;
	text-align: left;
	background-color: #222;
	background-image: linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -o-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(222,222,222)),
		color-stop(0.84, rgb(235,235,235))
	);
}
.lwp-indicator-progress{
	display: inline-block;
	height: 13px;
	width: 0;
	background-color: rgb(130,212,63);
	background-image: linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -o-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(130,212,63)),
		color-stop(0.67, rgb(100,207,58)),
		color-stop(0.84, rgb(201,230,115))
	);
}
.lwp-indicator-text{
	padding-top: 1px;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	color: #888;
	strong{
		vertical-align: top;
		color: #000;
	}
}

/****************************************
 * 7.決済フォーム終り
 ****************************************/



/****************************************
 * 8.div.tmkm-amazon-view
 ****************************************/
div.tmkm-amazon-view {
	clear: both;
	img {
		float: left;
		margin: 5px 20px 10px 0px;
		@include box-shadow(0 0 5px rgba(0,0,0,0.5));
		padding:0 !important;
	}
	p {
		margin: 0;
		font-size:12px;
		a{
			font-weight: bold;
			font-size:1.2em;
		}
		em {
			color: #000;
			font-style: normal;
			font-weight: bold;
		}
	}
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	hr.tmkm-amazon-clear {
		clear: both;
		border: none;
		height: 0;
		margin: 0;
		padding: 0;
		visibility: hidden;
	}
}

/* Rakuten Link*/
.entry div.rakuten_details{
	width: auto;
	border: none;
	clear: both;
	a.tooltip{
		font-size:0.75em;
		cursor: pointer;
		span{
			padding:10px;
			@include border-radius(5px);
		}
	}
	div.rakuten_info{
		width:420px;
		font-size:0.85em;
	}
	.rakuten_credit{
		font-size:0.75em;
	}
}
.rakuten_image img{
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);
	-moz-box-shadow:0 0 5px  rgba(0,0,0,0.5);
	box-shadow:0 0 5px  rgba(0,0,0,0.5);
}


/**
 * iPhone用テンプレート
 */
/*全体*/
body.smartphone{
	.margin{
		width:320px;
	}
	#main{
		width: 320px;
	}
	table.form-table{
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="search"],
		textarea{
			width: 150px;
		}
		select{
			max-width: 200px;
		}
	}
	/* ナビゲーション */
	#navi{
		/* ぱんくず */
		.breadcrumb{
			font-size: 0.8em;
			text-overflow: text-ellipsis;
			oveflow: hidden;
			height: 12px;
			line-height: 12px;
			@include ellipsis();
			i{
				width: 12px;
				height: 12px;
				vertical-align: middle;
				background-size: 12px 228px;
				background-position: 0 -48px;
			}
		}
		/* 最新投稿 */
		ul.recent-posts-top li{
			font-size: 0.9em;
			height: 1.2em;
			line-heihgt: 1.2em;
			overflow: hidden;
			@include ellipsis();
		}
	}
	/* タイトル */
	.title{
		padding: 20px 70px 20px 10px;
		font-size: 2em;
		strong{
			text-align: left;
		}
	}
	.calendar{
		width: 60px;
		height: 50px;
		@include background-size(60px 50px);
		.date{
			font-size: 1.1em;
			padding-top: 0.25em;
		}
		.year{
			font-size: 1.4em;
		}
	}
	.header  .excerpt{
		padding: 10px 10px 20px;
		font-size: 1.4em;
	}
	.title-meta{
		margin: 10px 0 20px;
		background-image: none;
		padding: 10px;
		.google img{
			margin-bottom: 20px;
		}
		table{
			width: 300px;
		}
		.excerpt, p.center{
			width: 300px;
			padding: 10px 0;
		}
	}
	
	/* メインコンテンツ */
	.entry{
		width: 300px;
		padding: 0 10px 20px;
		overflow: hidden; 
		font-size: 1.4em;
		line-height: 1.6;
		.syntaxhighlighter{
			width: 320px !important;
			margin-left: -10px !important;
			font-size: 0.85em !important;
		}
		> p{
			font-family: $serif;
		}
		blockquote{
			@include background-size(31px 25px);
			padding: 5px 5px 5px 35px;
		}
		.alignright, 
		.alignleft, 
		.aligncenter,
		div.alignnon,
		img.aligncenter{
			display: block;
			float: none;
			margin: 0 auto 1em;
		}
		img{
			max-width: 300px;
			height: auto;
			&.size-full{
				max-width: 300px;
				height: auto;
			}
		}
		.wp-capition{
			max-width: 300px;
		}
		.wp-caption-text{
			font-size:0.75em;
		}
	}
	/* 楽天 */
	div.rakuten_details{
		div.rakuten_info{
			width:300px;
			font-size:0.85em;
		}
	}

	/* コメント欄 */
	#respond{
		width: 300px;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	/* 関連投稿 */
	.related{
		.grid_4{
			width: 320px;
			margin: 0;
			h3{
				cursor: pointer;
			}
		}
	}
	/* 電子書籍 */
	.ebook .eyecatch{
		padding: 20px 10px;
		img{
			max-width: 300px;
			height: auto;
		}
	}
	/* 電子書籍リスト */
	.ebook{
		.device-list{
			.device{
				width: 90px;
				&:nth-child(3n){
					margin-right: 0;
				}
			}
			.valid{
				background-position: -5px bottom;
			}
			.invalid{
				background-position: -105px bottom;
			}
		}
		.file-list{
			td{
				.file-meta{
					small{
						display: block;
					}
				}
				.desc{
					p{
						font-size: 0.85em;
					}
				}
				&.center img{
					width: 30px;
					height: 30px;
				}
				&.width150{
					width: 80px;
					img{
						display: none;
					}
					.download{
						display: block;
						margin: 0 auto;
						background: url('../img/retina-icon-download.png') left top no-repeat;
						background-size: 32px 64px;
						width: 32px;
						height: 32px;
						position: relative;
						overflow: visible;
						
						img{
							display: none;
						}
					}
				}
			}
		}
	}
	/* 電子書籍 */
	.ebook-sidebar .widget_fumiki_ebook{
		padding-left: 5px;
		li{
			width: 150px;
			margin-bottom: 10px;
			&:nth-child(2n){
				padding-right: 5px;
			}
			&:nth-child(2n+1){
				clear: left;
			}
		}
	}
	&.home{
		#content{
			background-size: 250px 265px;
			background-position : 0 200px;
		}
	}
	/* トップページ */
	.main-menu{
		padding: 10px;
		h1 img{
			width: 240px;
			height: 25px;
			display: block;
			margin: 0 auto;
		}
	}
	.desc-box{
		padding: 20px 0;
		.main-box{
			margin-top: 20px;
			width: 320px;
			.grid_2{
				float: none;
				padding:0 10px 20px;
			}
		}
	}
	.desc-parts{
		padding: 0;
		h2{
			font-size: 2em;
		}
		.desc{
			margin: 20px 10px;
		}
		.grid_3{
			margin-bottom: 20px;
			padding-right: 20px;
			padding-left: 20px;
			float: none;
		}
	}
	/* アーカイブページ */
	.archive{
		padding: 5px;
		.archive-box-small{
			float: left;
			margin-bottom: 10px;
			&:nth-child(2n){
				padding-right: 0;
			}
			&:nth-child(2n+1){
				padding-right: 10px;
				clear: left;
			}
		}
		> .entry{
			width: 290px;
		}
	}
	/* ログインフォーム*/
	.login{
		#your-profile .form-table th{
			width: auto;
		}
		form{
			textarea{
				width: 150px;
				font-size: 1.2em;
			}
		}
		p input.input{
			width: 250px;
		}
	}
	/* フォーム */
	#lwp-invoice{
		width: 320px;
		.header h1 img{
			width: 240px;
			height: 25px;
			display: block;
			margin: 0 auto;
		}
		.lwp-column-method img{
			width: 65px;
			height: 40px;
		}
	}
	/* 本棚 */
	#book-shelf .lwp-table{
		thead th:nth-child(2),
		thead th:nth-child(3),
		thead th:nth-child(4),
		thead th:nth-child(5),
		thead th:nth-child(7),
		tfoot th:nth-child(2),
		tfoot th:nth-child(3),
		tfoot th:nth-child(4),
		tfoot th:nth-child(5),
		tfoot th:nth-child(7),
		tbody tr td:nth-child(2),
		tbody tr td:nth-child(3),
		tbody tr td:nth-child(4),
		tbody tr td:nth-child(5),
		tbody tr td:nth-child(7)
		{
			display: none;
		}
		thead th:nth-child(6),
		tbody td:nth-child(6){
			white-space: nowrap;
			padding-right: 24px;
		}
		tbody td:nth-child(6){
			background-image: url('../img/icon-arrow-right.png');
			background-position : right center;
			background-repeat: no-repeat;
			background-size: 20px 16px;
		}
	}
	.ui-dialog-content table{
		margin: 5px 0 0;
	}
	/* フッター */
	#footer{
		width: 320px;
		paddign:0;
		margin: 0;
		.inner{
			margin: 0;
			width: 300px;
			padding: 10px;
		}
		.grid_4{
			width: auto;
		}
	}
	#copy-note{
		p{
			width: auto;
			float: none;
			text-align: center;
		}
		.poweredby{
			float: none;
			text-align: center;
		}
	}
	/* トップページ */
	
	/* ナビゲーションバー */
	#wpadminbar{
		min-width: 320px;
		width: 320px;
		#wp-admin-bar-main-menues > a,
		#wp-admin-bar-category > .ab-empty-item,
		#wp-admin-bar-ebook > a,
		#wp-admin-bar-event > a,
		#wp-admin-bar-my-account > .ab-empty-item,
		#wp-admin-bar-my-account > a{
			width: 20px;
			height: 20px;
			text-indent: 40px;
			overflow: hidden;
			padding: 4px 10px;
			background: transparent url('../img/wpnav-icons.png') 10px 4px no-repeat;
			background-size: 100px 40px;
			background-clip: content-box;
		}
		#wp-admin-bar-main-menues.hover,
		#wp-admin-bar-category.hover,
		#wp-admin-bar-ebook.hover,
		#wp-admin-bar-event.hover,
		#wp-admin-bar-my-account.hover{
			background-color: #fff;
		}
		#wp-admin-bar-main-menues.hover > a{
			background-position: 10px -16px;
		}
		#wp-admin-bar-category > .ab-empty-item{
			background-position: -10px 4px;
		}
		#wp-admin-bar-category.hover > .ab-empty-item{
			background-position: -10px -16px;
		}
		#wp-admin-bar-ebook > a{
			background-position: -30px 4px;
		}
		#wp-admin-bar-event > a{
			background-position: -50px 4px;
		}
		#wp-admin-bar-my-account > .ab-empty-item,
		#wp-admin-bar-my-account > a{
			background-position: -70px 4px;
		}
		#wp-admin-bar-my-account.hover > .ab-empty-item,
		#wp-admin-bar-my-account.hover > a{
			background-position: -70px -16px;
		}
		#adminbarsearch .adminbar-input:focus{
			width: 100px;
		} 
	}
}


/*
------------------------
Purchase History
------------------------
*/
#book-shelf{
	.tablenav{
		.alignleft{
			float: left;
		}
		.tablenav-pages{
			text-align: right;
		}
		.clear{
			clear: left;
		}
		.displaying-num{
			font-weight: bold;
			font-size: 0.9em;
			margin-right: 0.5em;
		}
	}
	.lwp-table{
		font-size: 0.8em;
	}
	thead,tfoot{
		.column-price,
		.column-expires,
		.column-registered{
			&.desc:after{
				content: ' ▼';
			}
			&.asc:after{
				content: ' ▲';
			}
		}
		.column-quantity{
			white-space: nowrap;
		}
	}
	.column-price{
		white-space: nowrap;
	}
	.column-status{
		white-space: nowrap;
		.lwp-auth,
		.lwp-success{
			color: green;
			font-weight: bold;
			i{
				background-color: green;			
			}
		}
		.lwp-cancel,
		.lwp-refund{
			color: #aaa;
		}
		.lwp-start{
			color: crimson;
			font-weight: bold;
		}
		.lwp-refund_requesting,
		.lwp-waiting_cancellation{
			color: orange;
		}
		small{
			font-size: 0.8em;
			font-weight: bold;
			color: #aaa;
		}
	}
}
p.lwp-error-message{
	padding: 1em;
	margin: 5px 0 15px;
	color: #666;
	@include border-radius(3px);
	line-height: 1.2;
	background-color: #ffebe8;
}

.lwp-ticket-table{
	th{
		font-weight: bold;
		white-space: nowrap;
	}
	
}

/****************************************
 * 11. Facebook ページ
 ****************************************/
body.fan-gate-body{
	margin:0 auto;
	overflow: hidden;
}
.fan-gate-body .margin{
	width:auto;
	padding:20px;
	border:1px solid #ddd;
}
.fan-gate-body .meta{
	text-align:left;
	padding:30px 0;
}
.fan-gate-body .meta p{
	font-size:1.6em;
	text-shadow:1px 1px 2px #fff;
	height:30px;
	line-height:30px;
}
.fan-gate-body .meta p img{
	vertical-align: middle;
}
.fan-gate-body .title{
	margin:0;
}