/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/typography/text/ellipsis";
@import "_settings";
@import "_components";
@import 'quotes';
@import "_post_style";
@import "_navigation";
@import "_archive";
@import "_single";
@import "_footer";
@import '_lwp';
@import "_sidebar";
@import "_smartphone";
@import "_layout";
@import "_front_page";
@import '_affiliate';
@import '_netabare';


/****************************************
 * 5.5.電子書籍用設定
 ****************************************/

/*サイドバー共通*/
#right .rectangle{
	margin:0 0 20px;
	background:#eee;
	padding:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#right .green{
	color:#ABCD03;
}
#right .orange{
	color:#FA8404;
}

/*一覧ページサイドバー*/
#right dl.about-ebook dt{
	font-size:22px;
	font-weight:bold;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px dotted #ccc;
}
#right dl.about-ebook dt span{
	display:block;
	font-size:14px;
	font-weight:normal;
	font-style:italic;
}
#right dl.about-ebook dd{
	font-size:12px;
	line-height:1.5;
	margin-bottom:20px;
	color:#666;
}
#right dl.about-ebook dd small{
	margin-top:10px;
	display:block;
	text-align:right;
}
#right dl.about-ebook dd small a{
	padding:3px 5px;
	font-size:10px;
	background:#E4007F;
	color:#fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

/*サイドバー購入ページ*/
#right .conversion,
#right .price{
	margin:20px 0;
}
#right .price{
	padding-bottom:20px;
	border-bottom:1px dotted #ccc;
	position:relative;
}
#right .how-to-buy{
	margin-top:20px;
	padding-top:20px;
	border-top:1px dotted #ccc;
}
/*セール中*/
#right .price del{
	color:#999;
	font-size:18px;
}
#right .price .discount{
	font-size:14px;
	color:#fff;
	background:#E4007F;
	padding:5px;
	border-radius:10px;
}
#right .price .discount span{
	font-size:18px;
	font-weight:bold;
}
#right .price .onsale{
	position:absolute;
	right:0;
	top:0;
}
#right .price .limit{
	font-size:12px;
}
#right .price .limit strong{
	font-size:14px;
}
#sale-timer{
	background:#fff url(img/ebook_clock.png) 10px center no-repeat;
	height:50px;
	line-height:50px;
	padding:5px 10px;
	border:3px solid #ccc;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	font-size:27px;
}
#sale-timer small{
	font-size:14px;
}

#right .thank-you{
	font-size:14px;
}
#right .price h3,
#right .conversion h3{
	font-size:22px;
	font-weight:bold;
}
#right .price h3 span,
#right .conversion h3 span{
	font-size:11px;
	font-weight:normal;
	font-style:italic;
	display:block;
}
#right .price .real-price{
	font-size:34px;
}
#right .conversion h4{
	font-size:14px;
	font-weight: bold;
	margin:10px 0;
}


/*立ち読みエリア*/
.ebook-more{
	position: relative;
	max-height: 200px;
	overflow: hidden;
	font-size:0.7em;
}
.ebook-more-cover{
	position: absolute;
	height: 198px;
	width:100%;
	background: #fff;
	top:0;
	left:0;
	border:1px dashed #ccc;
	border-left: none;
	border-right: none;
	opacity:0.6;
}
.ebook-read-more{
	position: absolute;
	display: block;
	width: 100%;
	top: 50%;
	margin: -20px 0 0 !important;
	font-size: 2em;
}
.ebook-more-body{
	padding:1em 2em;
}
.fancybox-inner .ebook-more-body{
	font-size:2em;
	p{
		text-indent: 1em;
		line-height: 2;
	}
}
/* スマートフォン用立ち読み */
.ebook-more-modal{
	position: absolute;
	background: #fff;
	z-index: 1000;
	overflow: hidden;
	padding: 0;
	margin:0;
	.ebook-more-body{
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		width: auto;
		font-size: 1.2em;
		padding-top: 0;
		padding-bottom: 0;
		&::-webkit-scrollbar {
			background: #eee;
			overflow: visible;
			width: 10px;
			@include border-radius(5px);
		}
		&::-webkit-scrollbar-thumb {
			@include border-radius(5px);
			background: #333;
		}
		&::-webkit-scrollbar-corner {
			background: transparent;
		}
	}
	.ebook-more-title{
		position: absolute;
		left:0;
		top:0;
		font-weight: bold;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
		text-indent: 1em;
		color: #999;
		font-style: italic;
	}
	.ebook-more-close{
		position: absolute;
		top:10px;
		right: 10px;
		font-size:15px;
	}
}


/* 電子書籍サイドバー */
.ebook-sidebar{
	.widget_fumiki_ebook{
		padding-left: 10px;
		margin-bottom: 40px;
		h3{
			font-size: 2em;
			color: $deep-blue;
			padding-bottom: 5px;
			border-bottom: 1px dotted $deep-blue;
			font-weight: bold;
			text-shadow: 1px 1px 2px #fff;
			margin: 2em 0 1em;
		}
		li{
			width: 180px;
			padding-right: 10px;
			float: left;
			position: relative;
			.attachment-pinky-cover{
				display: block;
				margin: 0 auto 10px;
				@include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
			}
			h4{
				position: relative;
				text-align: center;
				a{
					font-size: 1.5em;
					color: $title-font-color;
					text-shadow: 1px 1px 2px #fff;
					text-decoration: none;
				}
				.price{
					position: absolute;
					background-color: $orange;
					padding: 3px 5px;
					top: -120px;
					right: -5px;
					font-size: 2em;
					color: #fff;
				}
			}
			.excerpt{
				margin: 0.5em;
				font-size: 1.1em;
				line-height: 1.1;
			}
			.sale-icon{
				position: absolute;
				top: -17px;
				left: 30px;
			}
		}
	}
}

/*一覧ページ見出し*/
body.ebooks .catch{
	padding:20px 0;
	margin-bottom:20px;
	border-bottom:1px dotted #eee;
}

/*リボン*/
.entry .book-list img.campaign{
	position: absolute;
	left: -9px;
	top: -11px;
}

/*商品詳細*/
.entry .book-list{
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px dotted #E5E5E5;	
	dl{
		width: 310px;
		margin-top: 0;
		float: left;
		dd{
			margin-left:0;
			padding-left:0;
			&.orange{
				color: $orange;
			}
		}
	}
	/*ボタン*/
	p.more{
		margin:0;
		padding:15px 0 10px;
		a{
			background: #E4007F;
			padding: 8px 12px;
			font-size: 16px;
			color: #fff;
			text-decoration: none;
			@include border-radius(10px);
			@include box-shadow(0 0 5px #888);
			text-shadow: 0px 2px 3px rgba(255,255,255,0.7);
			&:hover{
				text-shadow: none;
			}
			&:active{
				@include box-shadow(none);
			}
		}
	}
}


/* 購入履歴 */
.entry{
	.wp-list-table{
		width:99%;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #262c30;
		thead,
		tfoot{
			th{
				padding:3px 5px;
				color: #fff;
				font-size: 0.8em;
				text-shadow: 1px 1px 3px #000;
				background: url('../img/bg-texture-dark.jpg') left top repeat;
				a:link,
				a:visited{
					text-decoration: none;
				}
			}
		}
		tbody td{
			padding:3px 5px;
			font-size:0.75em;
		}
	}
}
.tablenav-pages{
	font-size:0.75em;
	text-align: right;
	float: right;
	height:33px;
	line-height: 33px;
}
/****************************************
 * 電子書籍用設定
 ****************************************/

/****************************************
 * 8.イベント設定
 ****************************************/
body.single-events{
	.title{
		text-align: center;
	}
}
/****************************************
 * 8.イベント設定
 ****************************************/


@import "account";






 /****************************************
 * 8.404設定
 ****************************************/
#error404{
	width: 320px;
	margin: 0 auto;
	height: 480px;
	position: relative;
	overflow: hidden;
	.logo{
		margin-top: 40px;
		img{
			width: 300px;
			height: 31px;
		}
		.description{
			font-size: 1.2em;
			color: #888;
			text-shadow: 1px 1px 2px #fff;
		}
	}
	h1{
		text-align: center;
		font-size: 30px;
		color: #8ab29f;
		text-shadow: 1px 1px 2px #fff;
		font-weight: bold;
		margin: 30px 0;	
	}
	p.message{
		font-size: 1.4em;
		margin: 1em 10px;
	}
	#copy-note{
		font-family: $mono;
		font-size: 10px;
		color: #888;
		text-shadow: 1px 1px 2px #fff;
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 2em;
		height: 2em;
		padding: 0;
		p{
			width: 100%;
			float: none;
			margin: 0;
			height: 2em;
			line-height: 2em;
		}
	}
}

/****************************************
 * 7.決済フォーム
 ****************************************/
#lwp-invoice{
	width: 640px;
	margin: 0 auto;
	.header{
		padding: 20px 40px;
		border-bottom: 1px dotted $deep-blue;
		h1{
			span{
				font-size: 1.2em;
				color: #888;
				display: block;
				margin: 0.5em 0;
				text-shadow: 1px 1px 2px #fff;
			}
		}
	}
	p.message{
		margin: 1em 0;
	}
	
	
	/* Notice */
	p.required{
		text-align: right;
	}
	.required{
		color: crimson;
	}
	
	/* table common*/
	table{
		&.price-table, 
		&.form-table{
			width: 100%;
			table-layout: auto;
			border-collapse: collapse;
			empty-cells: show;
			margin: 1em 0 1.5em;
			caption{
				color: #ccc;
				text-align: left;
				text-shadow: 1px 2px 2px #fff;
				font-size: 1.5em;
				padding-bottom: 0.5em;
				border-bottom: 3px double #ddd;
			}
			th,td{
				padding: 1em;
			}
			tbody{
				th,td{
					text-align: left;
					font-size: 0.85em;
					border-bottom: 1px dotted #999;
				}
				tr:nth-child(odd){
					th, td{
						background-color: #f3f3f3;
					}
				}
			}
		}
	}
	
	/* price table */
	.price-table{
		th{
			border-bottom: 1px solid #ddd;
		}
		thead{
			th{
				font-weight: bold;
			}
		}
		tbody{
			tr:last-child{
				th, td{
					border-bottom: none;
				}
			}
		}
		.price{
			white-space: nowrap;
			text-align: right;	
		}
		.recalculate{
			max-width: 40%;
			span.description{
				font-size: 0.85em;
				color: #999;
			}
		}
		tfoot{
			th{
				text-align: right;
				font-weight: bold;
			}
			th, td{
				border-top: 3px double #ddd;
				border-bottom: 3px double #ddd;
			}
		}
	}
	.form-table{
		thead{
			th,td{
				background: #4D4945;
				color: #f3f3f3;
			}
		}
		tbody{
			th{
				font-weight: bold;
				white-space: nowrap;
			}
		}
		th.lwp-column-method{
			text-align: center;
		}
		.lwp-column-method-desc{
			small{
				display: block;
				padding-top: 0.5em;
				margin-top: 1em;
				border-top: 1px solid #ddd;
				color: #666;
			}
			strong{
				color: #e4007f;
			}
		}
	}
	
	p.check-url-image{
		text-align: center;
		margin: 1em;
		strong{
			font-size: 1.6em;
			letter-spacing: 0.25em;
			margin: 0.5em 0;
			font-family: $mono;
		}
	}
	.ticket-footer-note{
		margin: 1em 0;
		padding: 1em;
		border-top: 1px dotted #ddd;
		border-bottom: 1px dotted #ddd;
	}
	input[type=text],
	textarea{
		border:1px solid #ddd;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
	}
	textarea{
		width: 90%;
	}
	.footer{
		margin: 20px;
		font-size: 1.4em;
		text-align: center;
		text-shadow: 1px 1px 2px #fff;
		color: #252e35;
	}
	.main{
		font-size:1.6em;
		margin:30px 10px;
		p a.button{
			display: inline-block;
		}
		p.indicator{
			text-align: center;
			background: url('../img/ajax-loader.gif') center bottom no-repeat;
			margin: 1em 0;
			padding-bottom: 20px;
			color: #888;
			text-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
			span{
				margin: 0 0.2em;
				font-size: 2em;
				font-weight: bold;
			}
		}
	}
	
	/* CC Icon */
	.lwp-cc-icon{
		display: inline-block;
		width: 130px;
		height: 80px;
		background: url('../../../../plugins/literally-wordpress/assets/icon-payment-method@2x.png') left top no-repeat; 
	}
	.icon-paypal {
		background-position: 0 bottom;
	}
	.icon-creditcard{
		background-position: 0 0;
	}
	.icon-transfer{
		background-position: right bottom;
	}
	.icon-cvs{
		background-position: -130px 0;
	}
	.icon-payeasy{
		background-position: -130px bottom;
	}
	.lwp-cc-small-icon{
		display: inline-block;
		margin-right: 0.5em;
		width: 52px;
		height: 32px;
		background: url('../../../../plugins/literally-wordpress/assets/icons-creditcards.png') left top no-repeat;
	}
	.small-icon-jcb{
		background-position: left bottom;
	}
	.small-icon-amex{
		background-position: -52px bottom;
	}
	.small-icon-visa{
		background-position: -52px 0;
	}
	.small-icon-master{
		background-position: -104px 0;
	}
	.small-icon-diners{
		background-position: right bottom;
	}
	.cvs-container{
		display: block;
		width: 8em;
		float: left;
		margin: 0 1em 1em 0;
		text-align: center;
	}
	.lwp-cvs-small-icon{
		display: inline-block;
		margin-right: 0.5em;
		width: 32px;
		height: 32px;
		background: #fff url('../../../../plugins/literally-wordpress/assets/icons-cvs.png') left top no-repeat;
		border: 1px solid #ccc;
	}
	.cvs-container .lwp-cvs-small-icon{
		margin-right: 0;
	}
	.small-icon-seven-eleven{
		background-position: left top;
	}
	.small-icon-lawson{
		background-position: -32px -32px;
	}
	.small-icon-ministop{
		background-position: 0 -32px;
	}
	.small-icon-circle-k{
		background-position: -32px 0;
	}
	.small-icon-sunkus{
		background-position: -64px 0;
	}
	.small-icon-seicomart{
		background-position: -64px -32px;
	}
	.small-icon-familymart{
		width: 64px;
		background-position: left bottom;
	}
	.small-icon-daily-yamazaki{
		background-position: right bottom;
	}
	p.sandbox{
		font-size: 0.9em;
		line-height: 1;
		display: inline-block;
		float: right;
		padding: 0.5em;
		@include border-radius(3px);
		@include box-shadow(1px 1px 2px rgba(255, 255, 255, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.2) inset);
		background-color: #ddd;
		color: #888;
		margin-top: 0;
		text-shadow: 1px 1px 2px #fff;
	}
}

#lwp-submit{
	cursor: pointer;
}
/* Indicator */
.lwp-indicator{
	text-align: right;
	font-size:small;
	height:15px;
	line-height: 15px;
	margin:10px 0;
}
.lwp-indicator-progress-bg{
	display: inline-block;
	width: 100px;
	height: 13px;
	border: 1px solid #ccc;
	margin-right: 5px;
	text-align: left;
	background-color: #222;
	background-image: linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -o-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(222,222,222) 28%, rgb(235,235,235) 84%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(222,222,222)),
		color-stop(0.84, rgb(235,235,235))
	);
}
.lwp-indicator-progress{
	display: inline-block;
	height: 13px;
	width: 0;
	background-color: rgb(130,212,63);
	background-image: linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -o-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(130,212,63) 28%, rgb(100,207,58) 67%, rgb(201,230,115) 84%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(130,212,63)),
		color-stop(0.67, rgb(100,207,58)),
		color-stop(0.84, rgb(201,230,115))
	);
}
.lwp-indicator-text{
	padding-top: 1px;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	color: #888;
	strong{
		vertical-align: top;
		color: #000;
	}
}

/****************************************
 * 7.決済フォーム終り
 ****************************************/






/**
 * iPhone用テンプレート
 */
/*全体*/
body.smartphone{
	
	
	/* 楽天 */
	div.rakuten_details{
		div.rakuten_info{
			width:300px;
			font-size:0.85em;
		}
	}

	/* コメント欄 */
	#respond{
		width: auto;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	
	/* 電子書籍リスト */
	.ebook{
		.eyecatch{
			padding: 20px 10px;
			img{
				max-width: 100%;
				height: auto;
			}
		}
		.device-list{
			.device{
				width: 90px;
				&:nth-child(3n){
					margin-right: 0;
				}
			}
			.valid{
				background-position: -5px bottom;
			}
			.invalid{
				background-position: -105px bottom;
			}
		}
	}
	/* 電子書籍 */
	.ebook-sidebar .widget_fumiki_ebook{
		padding-left: 5px;
		li{
			width: 150px;
			margin-bottom: 10px;
			&:nth-child(2n){
				padding-right: 5px;
			}
			&:nth-child(2n+1){
				clear: left;
			}
		}
	}
	/* ログインフォーム*/
	.login{
		#your-profile .form-table th{
			width: auto;
		}
		form{
			textarea{
				width: 150px;
				font-size: 1.2em;
			}
		}
		p input.input{
			width: 250px;
		}
	}
	/* 本棚 */
	#book-shelf .lwp-table{
		thead th:nth-child(2),
		thead th:nth-child(3),
		thead th:nth-child(4),
		thead th:nth-child(5),
		thead th:nth-child(7),
		tfoot th:nth-child(2),
		tfoot th:nth-child(3),
		tfoot th:nth-child(4),
		tfoot th:nth-child(5),
		tfoot th:nth-child(7),
		tbody tr td:nth-child(2),
		tbody tr td:nth-child(3),
		tbody tr td:nth-child(4),
		tbody tr td:nth-child(5),
		tbody tr td:nth-child(7)
		{
			display: none;
		}
		thead th:nth-child(6),
		tbody td:nth-child(6){
			white-space: nowrap;
			padding-right: 24px;
		}
		tbody td:nth-child(6){
			background-image: url('../img/icon-arrow-right.png');
			background-position : right center;
			background-repeat: no-repeat;
			background-size: 20px 16px;
		}
	}
	.ui-dialog-content table{
		margin: 5px 0 0;
	}
}


/*
------------------------
Purchase History
------------------------
*/
#book-shelf{
	.tablenav{
		.alignleft{
			float: left;
		}
		.tablenav-pages{
			text-align: right;
		}
		.clear{
			clear: left;
		}
		.displaying-num{
			font-weight: bold;
			font-size: 0.9em;
			margin-right: 0.5em;
		}
	}
	.lwp-table{
		font-size: 0.8em;
	}
	thead,tfoot{
		.column-price,
		.column-expires,
		.column-registered{
			&.desc:after{
				content: ' ▼';
			}
			&.asc:after{
				content: ' ▲';
			}
		}
		.column-quantity{
			white-space: nowrap;
		}
	}
	.column-price{
		white-space: nowrap;
	}
	.column-status{
		white-space: nowrap;
		.lwp-auth,
		.lwp-success{
			color: green;
			font-weight: bold;
			i{
				background-color: green;			
			}
		}
		.lwp-cancel,
		.lwp-refund{
			color: #aaa;
		}
		.lwp-start{
			color: crimson;
			font-weight: bold;
		}
		.lwp-refund_requesting,
		.lwp-waiting_cancellation{
			color: orange;
		}
		small{
			font-size: 0.8em;
			font-weight: bold;
			color: #aaa;
		}
	}
}
p.lwp-error-message{
	padding: 1em;
	margin: 5px 0 15px;
	color: #666;
	@include border-radius(3px);
	line-height: 1.2;
	background-color: #ffebe8;
}

.lwp-ticket-table{
	th{
		font-weight: bold;
		white-space: nowrap;
	}
	
}

/****************************************
 * 11. Facebook ページ
 ****************************************/
body.fan-gate-body{
	margin:0 auto;
	overflow: hidden;
}
.fan-gate-body .margin{
	width:auto;
	padding:20px;
	border:1px solid #ddd;
}
.fan-gate-body .meta{
	text-align:left;
	padding:30px 0;
}
.fan-gate-body .meta p{
	font-size:1.6em;
	text-shadow:1px 1px 2px #fff;
	height:30px;
	line-height:30px;
}
.fan-gate-body .meta p img{
	vertical-align: middle;
}
.fan-gate-body .title{
	margin:0;
}

