//
// Typography
//
$font-family-sans-serif: "TsukuGoPr5-L", sans-serif;
$sans: $font-family-sans-serif;
$font-bold: "TsukuGoPr5-B", sans-serif;
$title-font: "MaruminOld StdN R", serif;
$body-font: Garamond, "Baskerville", "Times New Roman", Times, "MatissePro-M", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体","MS P明朝" ,"ヒラギノ明朝体3",serif;
$body-bold: Garamond, "Baskerville", "Times New Roman", Times, "MatissePro-DB", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体","MS P明朝" ,"ヒラギノ明朝体3",serif;
$heading-font-size: 20px;

$serif: "Times New Roman", Times, "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体","MS P明朝" ,"ヒラギノ明朝体3",serif;
$old: Georgia, "Times New Roman", Times, "KleePro-M", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", serif;
$sans: Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
$mono: 'Courrier New', Courier, 'andale mono', 'lucida console', 'Osaka-mono', 'Osaka－等幅', 'Meiryo UI', monospace;

$samurai: "SamuraiStd-R", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", serif;
$mono: monospace;




$title-font-color: #009688;
$emphasized-text-color: #000;
$section-bg-color: #ddd;
$pale-yellow: #FBEE88;
$pale-green: #698a7c;
$orange: #ED8600;
$white: #fcfcfc;
$beige: #eeeeee;
$zebra-white: #f9f9f9;
$thin-grey: #ddd;
$emphasized-text-color: #000;
$light-grey: #666;
$semi-light-grey: #888;
$warning-red: #ff4d44;
$link-blue: #06c;
$link-purple: #7756bc;
$link-red: #c8402b;
$link-crimson: #ff0000;

