@charset "UTF-8";
/* line 17, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*---------------------
 * サイズ設定
 */
/*---------------------
 * 色設定
 */
/* 本文文字色 */
/* 背景色 */
/* 色 */
/* メッセージ用の色 */
/* フォント設定 */
/* line 64, ../sass/_settings.scss */
.mincho {
  font-family: "Times New Roman", Times, "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体", "MS P明朝", "ヒラギノ明朝体3", serif; }

/* line 65, ../sass/_settings.scss */
.old {
  font-family: Georgia, "Times New Roman", Times, "KleePro-M", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", serif; }

/* line 66, ../sass/_settings.scss */
.sans {
  font-family: Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif; }

/* line 67, ../sass/_settings.scss */
.mono {
  font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace; }

/* line 68, ../sass/_settings.scss */
strong {
  font-weight: bold; }

/*フロート解除*/
/* line 72, ../sass/_settings.scss */
.clrL {
  clear: left; }

/* line 73, ../sass/_settings.scss */
.clrR {
  clear: right; }

/* line 74, ../sass/_settings.scss */
.clrB {
  clear: both; }

/*clearfix*/
/* line 77, ../sass/_settings.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1; }

/*---------------------
 * アラインメント
 */
/* line 83, ../sass/_settings.scss */
.center {
  text-align: center; }

/* line 84, ../sass/_settings.scss */
.left {
  text-align: left; }

/* line 85, ../sass/_settings.scss */
.right {
  text-align: right; }

/* line 86, ../sass/_settings.scss */
.top {
  vertical-align: top; }

/* line 87, ../sass/_settings.scss */
.middle {
  vertical-align: middle; }

/* line 88, ../sass/_settings.scss */
.bottom {
  vertical-align: bottom; }

/*インラインブロック*/
/* line 93, ../sass/_settings.scss */
.inline-block {
  display: inline-block; }

/*リンク装飾*/
/* line 98, ../sass/_settings.scss */
a {
  overflow: hidden; }
  /* line 100, ../sass/_settings.scss */
  a:link {
    color: #0066cc;
    text-decoration: underline; }
  /* line 104, ../sass/_settings.scss */
  a:visited {
    color: #7756bc;
    text-decoration: underline; }
  /* line 108, ../sass/_settings.scss */
  a:hover {
    color: #ff4130;
    text-decoration: none; }
  /* line 112, ../sass/_settings.scss */
  a:active {
    color: red;
    text-decoration: underline; }

/*---------------------
 * 装飾
 */
/*背景画像*/
/* line 122, ../sass/_settings.scss */
.dark_bg {
  background: #45474d; }

/* テキストシャドウ */
/* line 126, ../sass/_settings.scss */
.shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); }

/* line 130, ../sass/_settings.scss */
.hilight {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8), -1px -1px 2px rgba(0, 0, 0, 0.8); }

/* ルビ非対応ブラウザ */
/* line 137, ../sass/_settings.scss */
.no-ruby rt:before {
  content: '（'; }
/* line 140, ../sass/_settings.scss */
.no-ruby rt:after {
  content: '）'; }

/* line 148, ../sass/_settings.scss */
.ui-tooltip-dark {
  font-size: 2em;
  line-height: 1.1; }

/* line 152, ../sass/_settings.scss */
.ui-tooltip-content {
  padding: 10px 20px;
  font-weight: normal; }

/*---------------------
 * テキスト・背景色
 */
/* line 160, ../sass/_settings.scss */
body {
  color: #45474d;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-size: 10px;
  background: white;
  position: relative; }

/*ボタン*/
/* line 6, ../sass/_components.scss */
a.button, .button-download,
input.button,
#nlmg-resign-form p.submit input,
.button-secondary,
a.lwp-action {
  display: inline-block;
  padding: 5px 7px;
  border: 1px solid #273138;
  color: #fff;
  font-family: Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.5) inset;
  background: #3d4850;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3d4850 0%, #1c252b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d4850), color-stop(100%, #1c252b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3d4850 0%, #1c252b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3d4850 0%, #1c252b 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #3d4850 0%, #1c252b 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d4850', endColorstr='#1c252b',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #3d4850 0%, #1c252b 100%);
  /* W3C */ }
  /* line 23, ../sass/_components.scss */
  a.button:link, .button-download:link, a.button:visited, .button-download:visited,
  input.button:link,
  input.button:visited,
  #nlmg-resign-form p.submit input:link,
  #nlmg-resign-form p.submit input:visited,
  .button-secondary:link,
  .button-secondary:visited,
  a.lwp-action:link,
  a.lwp-action:visited {
    text-decoration: none; }
  /* line 26, ../sass/_components.scss */
  a.button:hover, .button-download:hover,
  input.button:hover,
  #nlmg-resign-form p.submit input:hover,
  .button-secondary:hover,
  a.lwp-action:hover {
    background: #4c5a65;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4c5a65 0%, #2e3940 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c5a65), color-stop(100%, #2e3940));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4c5a65 0%, #2e3940 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4c5a65 0%, #2e3940 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #4c5a65 0%, #2e3940 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c5a65', endColorstr='#2e3940',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #4c5a65 0%, #2e3940 100%);
    /* W3C */
    cursor: pointer; }
  /* line 37, ../sass/_components.scss */
  a.button:active, .button-download:active,
  input.button:active,
  #nlmg-resign-form p.submit input:active,
  .button-secondary:active,
  a.lwp-action:active {
    background: #252e34; }
  /* line 40, ../sass/_components.scss */
  a.button i, .button-download i,
  input.button i,
  #nlmg-resign-form p.submit input i,
  .button-secondary i,
  a.lwp-action i {
    margin-right: 0.5em; }

/* line 46, ../sass/_components.scss */
.button-download small,
.button-disabled small {
  display: block;
  text-align: center;
  line-height: 1;
  height: 1em;
  font-size: 0.75em;
  font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace;
  color: #fff; }

/* line 57, ../sass/_components.scss */
a.button-disabled,
input.button-disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6; }

/* line 60, ../sass/_components.scss */
a.lwp-action {
  font-size: 0.8em;
  padding: 1px 5px;
  margin-left: 0.5em; }

/* プライマリーボタン */
/* line 66, ../sass/_components.scss */
p.submit {
  float: right;
  margin: 0 0 10px; }

/* line 71, ../sass/_components.scss */
.button-primary,
.lwp-buynow {
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 7px;
  border: 1px solid #9B4C03;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5), 0 0 3px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5), 0 0 3px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5), 0 0 3px rgba(255, 255, 255, 0.5) inset;
  background: #ffb76b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );
  /* IE6-9 */
  text-shadow: 1px 1px 3px #aaa; }
  /* line 90, ../sass/_components.scss */
  .button-primary:before,
  .lwp-buynow:before {
    content: '\f07a';
    margin-right: 0.5em;
    font-family: FontAwesome; }
  /* line 96, ../sass/_components.scss */
  .button-primary:link, .button-primary:visited,
  .lwp-buynow:link,
  .lwp-buynow:visited {
    text-decoration: none;
    color: #fff; }
  /* line 100, ../sass/_components.scss */
  .button-primary:hover,
  .lwp-buynow:hover {
    color: #fff;
    background: #ffc387;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffc387 0%, #ffa73d 52%, #ffa551 52%, #ff7f04 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc387), color-stop(52%, #ffa73d), color-stop(52%, #ffa551), color-stop(100%, #ff7f04));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc387 0%, #ffa73d 52%, #ffa551 52%, #ff7f04 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc387 0%, #ffa73d 52%, #ffa551 52%, #ff7f04 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffc387 0%, #ffa73d 52%, #ffa551 52%, #ff7f04 100%);
    /* IE10+ */
    background: linear-gradient(top, #ffc387 0%, #ffa73d 52%, #ffa551 52%, #ff7f04 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc387', endColorstr='#ff7f04',GradientType=0 );
    /* IE6-9 */ }
  /* line 111, ../sass/_components.scss */
  .button-primary:active,
  .lwp-buynow:active {
    color: #fff; }

/* ダウンロードボタン*/
/* 青いボタン */
/* blue pill (inspired by iTunes)
*******************************************************************************/
/* line 123, ../sass/_components.scss */
.button-blue {
  background-color: #a5b8da;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
  background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
  background-image: linear-gradient(top, #a5b8da, #7089b3);
  border-top: 1px solid #758fba;
  border-right: 1px solid #6c84ab;
  border-bottom: 1px solid #5c6f91;
  border-left: 1px solid #6c84ab;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
  -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
  box-shadow: inset 0 1px 0 0 #aec3e5;
  font-family: Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  padding: 0.5em 1em;
  text-shadow: 0 -1px 1px #64799e;
  color: #fff;
  cursor: pointer; }
  /* line 142, ../sass/_components.scss */
  .button-blue:link, .button-blue:visited {
    color: #fff;
    text-decoration: none; }
  /* line 146, ../sass/_components.scss */
  .button-blue:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    -moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9; }
  /* line 160, ../sass/_components.scss */
  .button-blue:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee; }

/* 画像 */
/* line 166, ../sass/_components.scss */
.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

/* line 169, ../sass/_components.scss */
.img-pressed {
  -webkit-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.6) inset; }

/*メッセージボックス*/
/* line 174, ../sass/_components.scss */
p.message {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 1em;
  position: relative;
  font-family: Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif; }
  /* line 179, ../sass/_components.scss */
  p.message strong, p.message em {
    color: inherit; }
  /* line 182, ../sass/_components.scss */
  p.message i {
    position: absolute;
    font-size: 26px;
    top: 50%;
    margin-top: -13px;
    left: 8px; }
  /* line 190, ../sass/_components.scss */
  p.message a:link,
  p.message a:visited {
    color: inherit;
    text-decoration: underline; }
  /* line 194, ../sass/_components.scss */
  p.message a:hover, p.message a:active {
    color: inherit;
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8; }

/* line 200, ../sass/_components.scss */
p.warning {
  color: #ff4d44;
  background: #ffd4d2;
  padding-left: 42px; }

/* line 205, ../sass/_components.scss */
p.success {
  color: #059119;
  background: #c6f4cd;
  padding-left: 42px; }

/* line 210, ../sass/_components.scss */
p.notice {
  color: #0055aa;
  background: #9fc9f4;
  padding-left: 42px; }

/* 分割線 */
/* ツールチップ */
/* line 223, ../sass/_components.scss */
#tip-container {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.4em;
  max-width: 300px;
  min-width: 150px;
  color: #fcfcfc;
  background-color: black;
  z-index: 10000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px 3px; }
  /* line 237, ../sass/_components.scss */
  #tip-container th {
    vertical-align: middle;
    padding-right: 0.5em;
    font-size: 2em; }
    /* line 241, ../sass/_components.scss */
    #tip-container th i {
      color: #666666; }
  /* line 245, ../sass/_components.scss */
  #tip-container td {
    line-height: 1.2; }
    /* line 247, ../sass/_components.scss */
    #tip-container td strong {
      color: #888888; }
  /* line 251, ../sass/_components.scss */
  #tip-container .close-button {
    display: none; }
  /* line 255, ../sass/_components.scss */
  #tip-container.touch .close-button {
    display: table-row; }

/* フォームテーブル */
/* line 266, ../sass/_components.scss */
table.form-table input[type=text],
table.form-table input[type=password],
table.form-table input[type=email],
table.form-table input[type=search] {
  width: 300px;
  font-size: 1.4em;
  padding: 3px 5px; }

/* FeedBurner */
/* line 274, ../sass/_components.scss */
#feedburner-count {
  width: 52px;
  height: 62px;
  position: relative;
  overflow: hidden;
  text-decoration: none; }
  /* line 280, ../sass/_components.scss */
  #feedburner-count span {
    position: absolute;
    display: block;
    width: 52px;
    font-size: 14px;
    text-align: center;
    height: 35px;
    line-height: 35px; }

/* ページナビ */
/* line 292, ../sass/_components.scss */
.wp-pagenavi {
  font-size: 2em;
  font-family: Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  margin: 20px 0; }
  /* line 296, ../sass/_components.scss */
  .wp-pagenavi a, .wp-pagenavi span.current, .wp-pagenavi span.extend {
    padding: 3px 8px;
    font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #252e34;
    border-left: none;
    letter-spacing: 0;
    margin: 0; }
    /* line 304, ../sass/_components.scss */
    .wp-pagenavi a:last-child, .wp-pagenavi span.current:last-child, .wp-pagenavi span.extend:last-child {
      -moz-border-radius-topright: 3px;
      -webkit-border-top-right-radius: 3px;
      border-top-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -webkit-border-bottom-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  /* line 308, ../sass/_components.scss */
  .wp-pagenavi a {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: #252e34;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #333f46), color-stop(100%, #252e34));
    background-image: -webkit-linear-gradient(left top, #333f46, #252e34);
    background-image: -moz-linear-gradient(left top, #333f46, #252e34);
    background-image: -o-linear-gradient(left top, #333f46, #252e34);
    background-image: linear-gradient(left top, #333f46, #252e34); }
    /* line 314, ../sass/_components.scss */
    .wp-pagenavi a:link, .wp-pagenavi a:visited {
      text-decoration: none; }
    /* line 318, ../sass/_components.scss */
    .wp-pagenavi a:hover, .wp-pagenavi a:active {
      background: #4C5A65; }
  /* line 323, ../sass/_components.scss */
  .wp-pagenavi span.current,
  .wp-pagenavi span.extend {
    color: #252e34;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #dddddd), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(left top, #dddddd, #cccccc);
    background-image: -moz-linear-gradient(left top, #dddddd, #cccccc);
    background-image: -o-linear-gradient(left top, #dddddd, #cccccc);
    background-image: linear-gradient(left top, #dddddd, #cccccc); }
  /* line 328, ../sass/_components.scss */
  .wp-pagenavi span.pages {
    padding: 3px 8px;
    margin-right: 1em;
    border: none; }
    /* line 332, ../sass/_components.scss */
    .wp-pagenavi span.pages + * {
      border-left: 1px solid #252e34;
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px; }

/* Google Responsive ads */
/* line 340, ../sass/_components.scss */
.my_adslot {
  width: 320px;
  height: 50px; }

@media screen and (min-width: 500px) {
  /* line 345, ../sass/_components.scss */
  .my_adslot {
    width: 468px;
    height: 60px; } }
@media screen and (min-width: 800px) {
  /* line 351, ../sass/_components.scss */
  .my_adslot {
    width: 728px;
    height: 90px; } }
/* line 12, ../sass/editor-style.scss */
body.mceContentBody {
  font-size: 2em;
  line-height: 1.8;
  position: relative;
  font-family: Garamond, "Baskerville", "Times New Roman", Times, "MatissePro-L", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体", "MS P明朝", "ヒラギノ明朝体3", serif;
  /*見出し*/
  /* 装飾 */
  /* 略語 */
  /* 数式 */
  /*挿入*/
  /*削除*/
  /*リスト共通設定*/
  /*引用*/
  /*コードフォーマット*/
  /*アスキーアート*/
  /* アドレス */
  /*注意書き*/
  /* 余談 */
  /*テーブル*/
  /*画像*/
  /*キャプション*/
  /*パスワード保護されていた場合*/
  /* フォームパーツ */
  padding: 10px 20px;
  font-family: "Times New Roman", Times, "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体", "MS P明朝", "ヒラギノ明朝体3", serif;
  font-size: 1em; }
  /* line 8, ../sass/_post_style.scss */
  body.mceContentBody > p {
    margin: 1em 0; }
    /* line 10, ../sass/_post_style.scss */
    body.mceContentBody > p.indent {
      text-indent: 1em; }
    /* line 13, ../sass/_post_style.scss */
    body.mceContentBody > p.dropcap {
      text-indent: 0; }
      /* line 15, ../sass/_post_style.scss */
      body.mceContentBody > p.dropcap:first-letter {
        font-size: 2em;
        float: left;
        margin-right: 0.2em;
        font-weight: bold; }
    /* line 22, ../sass/_post_style.scss */
    body.mceContentBody > p.samurai {
      font-size: 2em;
      font-family: "SamuraiStd-R", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", serif; }
  /* line 27, ../sass/_post_style.scss */
  body.mceContentBody p.attachment {
    text-align: center; }
    /* line 29, ../sass/_post_style.scss */
    body.mceContentBody p.attachment img {
      max-width: 100%; }
  /* line 35, ../sass/_post_style.scss */
  body.mceContentBody h1, body.mceContentBody h2, body.mceContentBody h3, body.mceContentBody h4, body.mceContentBody h5 {
    font-weight: bold;
    padding-top: 1.5em;
    margin-bottom: 0.75em;
    font-family: "Palatino Linotype", "Book Antiqua3", Palatino, "KleePro-M", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体", "メイリオ", Meiryo, serif; }
  /* line 41, ../sass/_post_style.scss */
  body.mceContentBody h1 {
    font-size: 2.5em;
    color: #fbee88;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; }
  /* line 51, ../sass/_post_style.scss */
  body.mceContentBody h2 {
    font-size: 1.8em;
    line-height: 1.2;
    color: black; }
  /* line 57, ../sass/_post_style.scss */
  body.mceContentBody h3 {
    font-size: 1.5em;
    padding-bottom: 5px;
    line-height: 1.2;
    color: #333f46;
    border-bottom: 1px dotted #252e34; }
  /* line 64, ../sass/_post_style.scss */
  body.mceContentBody h4 {
    font-size: 1.3em;
    line-height: 1.2;
    color: #888;
    text-shadow: 1px 1px 2px #fff; }
  /* line 70, ../sass/_post_style.scss */
  body.mceContentBody h5 {
    font-size: 1.1em;
    line-height: 1.2; }
  /* line 75, ../sass/_post_style.scss */
  body.mceContentBody h6 {
    font-family: Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif; }
  /* line 80, ../sass/_post_style.scss */
  body.mceContentBody strong, body.mceContentBody b {
    color: #000;
    font-weight: bold; }
  /* line 85, ../sass/_post_style.scss */
  body.mceContentBody big,
  body.mceContentBody strong.big {
    font-weight: bold;
    font-size: 2em; }
  /* line 89, ../sass/_post_style.scss */
  body.mceContentBody em {
    color: #000;
    font-style: italic; }
  /* line 94, ../sass/_post_style.scss */
  body.mceContentBody abbr, body.mceContentBody acronym {
    cursor: help;
    color: #333f46;
    border-bottom: 1px dashed #333f46; }
  /* line 100, ../sass/_post_style.scss */
  body.mceContentBody sup {
    font-size: 0.75em;
    vertical-align: top; }
  /* line 104, ../sass/_post_style.scss */
  body.mceContentBody sub {
    font-size: 0.75em;
    vertical-align: sub; }
  /* line 108, ../sass/_post_style.scss */
  body.mceContentBody var {
    font-family: Georgia, "Times New Roman", Times, "KleePro-M", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", serif;
    font-style: italic; }
  /* line 113, ../sass/_post_style.scss */
  body.mceContentBody ins {
    text-decoration: none;
    color: #666666;
    background: #fbee88; }
  /* line 119, ../sass/_post_style.scss */
  body.mceContentBody del, body.mceContentBody s {
    color: #aaa; }
    /* line 121, ../sass/_post_style.scss */
    body.mceContentBody del:before, body.mceContentBody s:before {
      content: " "; }
    /* line 122, ../sass/_post_style.scss */
    body.mceContentBody del:after, body.mceContentBody s:after {
      content: " "; }
  /* line 126, ../sass/_post_style.scss */
  body.mceContentBody ol, body.mceContentBody ul, body.mceContentBody dl {
    margin: 1em 0; }
  /* line 129, ../sass/_post_style.scss */
  body.mceContentBody ol li, body.mceContentBody ul li, body.mceContentBody dl dd {
    margin: 0.5em 0 0.8em 1em; }
  /* line 130, ../sass/_post_style.scss */
  body.mceContentBody ul, body.mceContentBody ol {
    padding-left: 1.5em; }
  /* line 131, ../sass/_post_style.scss */
  body.mceContentBody ul li {
    list-style: outside disc; }
  /* line 132, ../sass/_post_style.scss */
  body.mceContentBody ol li {
    list-style: outside decimal; }
  /* line 133, ../sass/_post_style.scss */
  body.mceContentBody ul li li, body.mceContentBody ol li li, body.mceContentBody dd li {
    font-size: 0.8em; }
  /* line 134, ../sass/_post_style.scss */
  body.mceContentBody ul li ul li {
    list-style-type: circle; }
  /* line 135, ../sass/_post_style.scss */
  body.mceContentBody ol li ol li {
    list-style-type: decimal-leading-zero; }
  /* line 136, ../sass/_post_style.scss */
  body.mceContentBody dl dt {
    font-size: 1.2em;
    font-weight: bold;
    margin: 15px 0 0;
    text-shadow: 1px 1px 2px #fff;
    color: #252e34; }
  /* line 143, ../sass/_post_style.scss */
  body.mceContentBody dl dd {
    padding-left: 1.5em;
    margin-left: 0; }
    /* line 146, ../sass/_post_style.scss */
    body.mceContentBody dl dd:before {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      content: "\f054";
      text-indent: -1.5em; }
  /* line 157, ../sass/_post_style.scss */
  body.mceContentBody blockquote {
    margin: 0.5em 0;
    padding: 32px;
    color: #333f46;
    position: relative; }
    /* line 163, ../sass/_post_style.scss */
    body.mceContentBody blockquote:before, body.mceContentBody blockquote:after {
      color: lightgrey;
      display: block;
      position: absolute;
      font-size: 24px;
      font-family: FontAwesome; }
    /* line 170, ../sass/_post_style.scss */
    body.mceContentBody blockquote:before {
      top: 0;
      left: 10px;
      content: "\f10d"; }
    /* line 175, ../sass/_post_style.scss */
    body.mceContentBody blockquote:after {
      bottom: 0;
      right: 10px;
      content: "\f10e"; }
    /* line 180, ../sass/_post_style.scss */
    body.mceContentBody blockquote p {
      margin: 0.5em 0; }
    /* line 183, ../sass/_post_style.scss */
    body.mceContentBody blockquote cite {
      display: block;
      text-align: right;
      font-size: 0.8em;
      font-weight: normal;
      color: #333f46; }
  /* line 191, ../sass/_post_style.scss */
  body.mceContentBody q, body.mceContentBody cite {
    font-style: italic;
    color: #252e34; }
  /* line 196, ../sass/_post_style.scss */
  body.mceContentBody q[cite] {
    cursor: pointer; }
  /* line 199, ../sass/_post_style.scss */
  body.mceContentBody q:before {
    content: '"'; }
  /* line 202, ../sass/_post_style.scss */
  body.mceContentBody q:after {
    content: '"'; }
  /* line 210, ../sass/_post_style.scss */
  body.mceContentBody code, body.mceContentBody kbd, body.mceContentBody tt {
    background: #f7f7f7;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 2px;
    font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace;
    color: #000; }
  /* line 218, ../sass/_post_style.scss */
  body.mceContentBody var {
    font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace; }
  /* line 221, ../sass/_post_style.scss */
  body.mceContentBody pre {
    font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace;
    line-height: 1.2; }
  /* line 225, ../sass/_post_style.scss */
  body.mceContentBody .syntaxhighlighter {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px white, -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 1px 1px 2px white, -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 1px 1px 2px white, -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.1) inset; }
    /* line 230, ../sass/_post_style.scss */
    body.mceContentBody .syntaxhighlighter > table {
      font-size: 0.85em !important; }
    /* line 233, ../sass/_post_style.scss */
    body.mceContentBody .syntaxhighlighter code {
      -webkit-text-size-adjust: 100%; }
  /* line 237, ../sass/_post_style.scss */
  body.mceContentBody .code-format {
    background: #4D4945;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border: 2px solid #CCC;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    overflow: auto;
    font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace; }
    /* line 246, ../sass/_post_style.scss */
    body.mceContentBody .code-format table {
      width: 100%; }
    /* line 247, ../sass/_post_style.scss */
    body.mceContentBody .code-format tr.even {
      background: #57534E; }
    /* line 248, ../sass/_post_style.scss */
    body.mceContentBody .code-format th {
      color: #938C84;
      background-color: transparent;
      font-weight: bold;
      text-align: right;
      border-right: #938C84 2px solid;
      padding: 0 5px 0 0;
      vertical-align: top; }
    /* line 257, ../sass/_post_style.scss */
    body.mceContentBody .code-format td {
      padding: 0 0 0 15px;
      border-bottom: none; }
    /* line 261, ../sass/_post_style.scss */
    body.mceContentBody .code-format .quote {
      color: #A5EFB8; }
    /* line 262, ../sass/_post_style.scss */
    body.mceContentBody .code-format .notation {
      color: #BCE3F4; }
  /* line 266, ../sass/_post_style.scss */
  body.mceContentBody pre.aa {
    font-family: IPAMonaGothic,'ＭＳ ゴシック',monospace;
    font-size: 12px;
    line-height: 1.5;
    margin: 20px 0;
    color: #999; }
  /* line 275, ../sass/_post_style.scss */
  body.mceContentBody address {
    font-style: italic;
    font-size: 0.85em;
    color: #888;
    line-height: 1.4;
    padding: 0.5em 1em; }
  /* line 284, ../sass/_post_style.scss */
  body.mceContentBody .alert {
    font-size: 0.8em;
    font-weight: bold;
    color: #000; }
    /* line 288, ../sass/_post_style.scss */
    body.mceContentBody .alert:before {
      content: " ※"; }
    /* line 289, ../sass/_post_style.scss */
    body.mceContentBody .alert:after {
      content: " "; }
  /* line 293, ../sass/_post_style.scss */
  body.mceContentBody aside {
    margin: 1em 0;
    line-height: 1.4;
    padding: 1em;
    font-size: 0.8em;
    -webkit-text-size-adjust: 100%;
    background: #f7f7f7;
    color: #666666; }
  /* line 304, ../sass/_post_style.scss */
  body.mceContentBody table {
    margin: 20px 0;
    border-spacing: 0;
    empty-cells: show;
    border-collapse: collapse;
    width: 100%; }
    /* line 311, ../sass/_post_style.scss */
    body.mceContentBody table thead th, body.mceContentBody table thead td {
      color: black;
      padding: 5px 8px;
      border-bottom: 3px double #dddddd;
      font-weight: bold; }
    /* line 318, ../sass/_post_style.scss */
    body.mceContentBody table caption {
      color: #666666;
      text-align: right;
      font-size: 1em; }
    /* line 324, ../sass/_post_style.scss */
    body.mceContentBody table tbody th, body.mceContentBody table tbody td {
      text-align: left;
      padding: 5px 8px;
      font-size: 0.85em;
      border-bottom: 1px solid #dddddd; }
    /* line 330, ../sass/_post_style.scss */
    body.mceContentBody table tbody th {
      font-weight: bold;
      color: black;
      white-space: nowrap; }
    /* line 335, ../sass/_post_style.scss */
    body.mceContentBody table tbody td {
      color: #888888; }
    /* line 339, ../sass/_post_style.scss */
    body.mceContentBody table tbody tr:nth-child(2n) td,
    body.mceContentBody table tbody tr:nth-child(2n) th {
      background: #f7f7f7; }
  /* line 349, ../sass/_post_style.scss */
  body.mceContentBody .alignright {
    float: right;
    margin-left: 1.5em; }
  /* line 350, ../sass/_post_style.scss */
  body.mceContentBody .alignleft {
    float: left;
    margin-right: 1.5em; }
  /* line 353, ../sass/_post_style.scss */
  body.mceContentBody .aligncenter,
  body.mceContentBody div.alignnon,
  body.mceContentBody figure.alignnon {
    margin: 1.5em auto; }
  /* line 354, ../sass/_post_style.scss */
  body.mceContentBody img.aligncenter {
    display: block; }
  /* line 356, ../sass/_post_style.scss */
  body.mceContentBody img.size-full {
    max-width: 100%;
    height: auto; }
  /* line 362, ../sass/_post_style.scss */
  body.mceContentBody div.wp-caption,
  body.mceContentBody figure.wp-caption {
    margin-bottom: 1em; }
  /* line 365, ../sass/_post_style.scss */
  body.mceContentBody .wp-caption-text {
    font-size: 0.75em;
    color: #666666;
    margin: 0.25em 0 0; }
  /* line 380, ../sass/_post_style.scss */
  body.mceContentBody input[type=text],
  body.mceContentBody input[type=password],
  body.mceContentBody input[type=email],
  body.mceContentBody input[type=search],
  body.mceContentBody textarea {
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 10px;
    color: #444; }
  /* line 24, ../sass/editor-style.scss */
  body.mceContentBody .netabare {
    margin-top: 32px;
    position: relative;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; }
    /* line 30, ../sass/editor-style.scss */
    body.mceContentBody .netabare:after {
      position: absolute;
      content: 'ネタバレ';
      display: block;
      padding: 5px;
      font-size: 12px;
      line-height: 1;
      font-family: Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
      background: #000;
      color: #fff;
      top: 0;
      left: 0;
      margin-top: -22px; }
