@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*---------------------
 * サイズ設定
 */
/*---------------------
 * 色設定
 */
/* 本文文字色 */
/* 背景色 */
/* 色 */
/* メッセージ用の色 */
/* フォント設定 */
.mincho {
  font-family: "Times New Roman", Times, "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体", "MS P明朝", "ヒラギノ明朝体3", serif; }

.old {
  font-family: Georgia, "Times New Roman", Times, "KleePro-M", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", serif; }

.sans {
  font-family: Helvetica, Arial, sans-serif; }

.mono {
  font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace; }

strong {
  font-weight: bold; }

/*フロート解除*/
.clrL {
  clear: left; }

.clrR {
  clear: right; }

.clrB {
  clear: both; }

/*clearfix*/
.clearfix {
  overflow: hidden;
  *zoom: 1; }

/*---------------------
 * アラインメント
 */
.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.top {
  vertical-align: top; }

.middle {
  vertical-align: middle; }

.bottom {
  vertical-align: bottom; }

/*インラインブロック*/
.inline-block {
  display: inline-block; }

/*リンク装飾*/
a {
  overflow: hidden;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  a:link {
    color: #06c;
    text-decoration: underline; }
  a:visited {
    color: #7756bc;
    text-decoration: underline; }
  a:hover {
    color: #ff4130;
    text-decoration: none; }
  a:active {
    color: #ff0000;
    text-decoration: underline; }

/*---------------------
 * 装飾
 */
/*背景画像*/
.dark_bg {
  background: #45474d; }

/* テキストシャドウ */
.shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); }

.hilight {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8), -1px -1px 2px rgba(0, 0, 0, 0.8); }

/* ルビ非対応ブラウザ */
.no-ruby rt:before {
  content: '（'; }
.no-ruby rt:after {
  content: '）'; }

.ui-tooltip-dark {
  font-size: 2em;
  line-height: 1.1; }

.ui-tooltip-content {
  padding: 10px 20px;
  font-weight: normal; }

/*---------------------
 * テキスト・背景色
 */
body {
  color: #45474d;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  background: #fff;
  position: relative; }

/* FontAwesome */
i[class^=fa-] {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*ボタン*/
a.button, .button-download,
input.button,
#nlmg-resign-form p.submit input,
.button-secondary,
a.lwp-action {
  display: inline-block;
  padding: 5px 7px;
  border: 1px solid #273138;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.5) inset;
  background: #3d4850;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3d4850 0%, #1c252b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d4850), color-stop(100%, #1c252b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3d4850 0%, #1c252b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3d4850 0%, #1c252b 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #3d4850 0%, #1c252b 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d4850', endColorstr='#1c252b', GradientType=0);
  /* IE6-9 */
  background: linear-gradient(to bottom, #3d4850 0%, #1c252b 100%);
  /* W3C */ }
  a.button:link, .button-download:link, a.button:visited, .button-download:visited,
  input.button:link,
  input.button:visited,
  #nlmg-resign-form p.submit input:link,
  #nlmg-resign-form p.submit input:visited,
  .button-secondary:link,
  .button-secondary:visited,
  a.lwp-action:link,
  a.lwp-action:visited {
    text-decoration: none; }
  a.button:hover, .button-download:hover,
  input.button:hover,
  #nlmg-resign-form p.submit input:hover,
  .button-secondary:hover,
  a.lwp-action:hover {
    background: #4c5a65;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4c5a65 0%, #2e3940 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c5a65), color-stop(100%, #2e3940));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4c5a65 0%, #2e3940 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4c5a65 0%, #2e3940 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #4c5a65 0%, #2e3940 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c5a65', endColorstr='#2e3940', GradientType=0);
    /* IE6-9 */
    background: linear-gradient(to bottom, #4c5a65 0%, #2e3940 100%);
    /* W3C */
    cursor: pointer; }
  a.button:active, .button-download:active,
  input.button:active,
  #nlmg-resign-form p.submit input:active,
  .button-secondary:active,
  a.lwp-action:active {
    background: #252e34; }
  a.button i, .button-download i,
  input.button i,
  #nlmg-resign-form p.submit input i,
  .button-secondary i,
  a.lwp-action i {
    margin-right: 0.5em; }

.button-download small,
.button-disabled small {
  display: block;
  text-align: center;
  line-height: 1;
  height: 1em;
  font-size: 0.75em;
  font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace;
  color: #fff; }

a.button-disabled,
input.button-disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6; }

a.lwp-action {
  font-size: 0.8em;
  padding: 1px 5px;
  margin-left: 0.5em; }

/* プライマリーボタン */
p.submit {
  float: right;
  margin: 0 0 10px; }

.button-primary,
.lwp-buynow {
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 7px;
  border: 1px solid #9B4C03;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5), 0 0 3px rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5), 0 0 3px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5), 0 0 3px rgba(255, 255, 255, 0.5) inset;
  background: #ffb76b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0);
  /* IE6-9 */
  text-shadow: 1px 1px 3px #aaa; }
  .button-primary:before,
  .lwp-buynow:before {
    content: '\f07a';
    margin-right: 0.5em;
    font-family: FontAwesome; }
  .button-primary:link, .button-primary:visited,
  .lwp-buynow:link,
  .lwp-buynow:visited {
    text-decoration: none;
    color: #fff; }
  .button-primary:hover,
  .lwp-buynow:hover {
    color: #fff;
    background: #ffc387;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffc387 0%, #ffa73d 52%, #ffa551 52%, #ff7f04 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc387), color-stop(52%, #ffa73d), color-stop(52%, #ffa551), color-stop(100%, #ff7f04));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc387 0%, #ffa73d 52%, #ffa551 52%, #ff7f04 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc387 0%, #ffa73d 52%, #ffa551 52%, #ff7f04 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffc387 0%, #ffa73d 52%, #ffa551 52%, #ff7f04 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffc387 0%, #ffa73d 52%, #ffa551 52%, #ff7f04 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc387', endColorstr='#ff7f04', GradientType=0);
    /* IE6-9 */ }
  .button-primary:active,
  .lwp-buynow:active {
    color: #fff; }

/* ダウンロードボタン*/
/* 青いボタン */
/* blue pill (inspired by iTunes)
*******************************************************************************/
.button-blue {
  background-color: #a5b8da;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
  background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
  background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
  border-top: 1px solid #758fba;
  border-right: 1px solid #6c84ab;
  border-bottom: 1px solid #5c6f91;
  border-left: 1px solid #6c84ab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
  -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
  box-shadow: inset 0 1px 0 0 #aec3e5;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0.5em 1em;
  text-shadow: 0 -1px 1px #64799e;
  color: #fff;
  cursor: pointer; }
  .button-blue:link, .button-blue:visited {
    color: #fff;
    text-decoration: none; }
  .button-blue:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(to bottom, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9; }
  .button-blue:active {
    border: 1px solid #546685;
    -moz-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee; }

/* 画像 */
.img-circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.img-pressed {
  -moz-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.6) inset; }

/*メッセージボックス*/
p.message {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 1em;
  position: relative;
  font-family: Helvetica, Arial, sans-serif; }
  p.message strong, p.message em {
    color: inherit; }
  p.message i {
    position: absolute;
    font-size: 26px;
    top: 50%;
    margin-top: -13px;
    left: 8px; }
  p.message a:link,
  p.message a:visited {
    color: inherit;
    text-decoration: underline; }
  p.message a:hover, p.message a:active {
    color: inherit;
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8; }

p.warning {
  color: #ff4d44;
  background: #ffd4d2;
  padding-left: 42px; }

p.success {
  color: #059119;
  background: #c6f4cd;
  padding-left: 42px; }

p.notice {
  color: #05a;
  background: #9fc9f4;
  padding-left: 42px; }

/* 分割線 */
/* ツールチップ */
#tip-container {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.4em;
  max-width: 300px;
  min-width: 150px;
  color: #fcfcfc;
  background-color: #000;
  z-index: 10000;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px 3px; }
  #tip-container th {
    vertical-align: middle;
    padding-right: 0.5em;
    font-size: 2em; }
    #tip-container th i {
      color: #666; }
  #tip-container td {
    line-height: 1.2; }
    #tip-container td strong {
      color: #888; }
  #tip-container .close-button {
    display: none; }
  #tip-container.touch .close-button {
    display: table-row; }

/* フォームテーブル */
table.form-table input[type=text],
table.form-table input[type=password],
table.form-table input[type=email],
table.form-table input[type=search] {
  width: 300px;
  font-size: 1.4em;
  padding: 3px 5px; }

/* FeedBurner */
#feedburner-count {
  width: 52px;
  height: 62px;
  position: relative;
  overflow: hidden;
  text-decoration: none; }
  #feedburner-count span {
    position: absolute;
    display: block;
    width: 52px;
    font-size: 14px;
    text-align: center;
    height: 35px;
    line-height: 35px; }

/* ページナビ */
.wp-pagenavi {
  font-size: 1.4em;
  font-family: Helvetica, Arial, sans-serif;
  margin: 20px 0;
  text-align: center; }
  .wp-pagenavi a, .wp-pagenavi span.current, .wp-pagenavi span.extend {
    padding: 3px 8px;
    font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #252e34;
    border-left: none;
    letter-spacing: 0;
    margin: 0; }
    .wp-pagenavi a:last-child, .wp-pagenavi span.current:last-child, .wp-pagenavi span.extend:last-child {
      -moz-border-radius-topright: 3px;
      -webkit-border-top-right-radius: 3px;
      border-top-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -webkit-border-bottom-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  .wp-pagenavi a {
    color: #fcfcfc;
    background-color: #06c; }
    .wp-pagenavi a:link, .wp-pagenavi a:visited {
      text-decoration: none; }
    .wp-pagenavi a:hover, .wp-pagenavi a:active {
      background: #ff4130; }
  .wp-pagenavi span.current,
  .wp-pagenavi span.extend {
    color: #fcfcfc;
    background-color: #ddd; }
  .wp-pagenavi span.pages {
    padding: 3px 8px;
    margin-right: 1em;
    border: none;
    color: #ccc; }
    .wp-pagenavi span.pages + * {
      border-left: 1px solid #252e34;
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px; }

/* Google Responsive ads */
.my_adslot {
  width: 320px;
  height: 50px; }

@media screen and (min-width: 500px) {
  .my_adslot {
    width: 468px;
    height: 60px; } }
@media screen and (min-width: 800px) {
  .my_adslot {
    width: 728px;
    height: 90px; } }
body {
  font-size: 2em;
  line-height: 1.8;
  position: relative;
  font-family: Garamond, "Baskerville", "Times New Roman", Times, "MatissePro-L", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体", "MS P明朝", "ヒラギノ明朝体3", serif;
  /*見出し*/
  /* 装飾 */
  /* 略語 */
  /* 数式 */
  /*挿入*/
  /*削除*/
  /*リスト共通設定*/
  /*引用*/
  /*コードフォーマット*/
  /*アスキーアート*/
  /* アドレス */
  /*注意書き*/
  /* 余談 */
  /*テーブル*/
  /*画像*/
  /*キャプション*/
  /*パスワード保護されていた場合*/
  /* フォームパーツ */
  margin: 2em 1.5em;
  font-family: "Times New Roman", Times, "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体", "MS P明朝", "ヒラギノ明朝体3", serif;
  font-size: 1em; }
  body .indent {
    text-indent: 1em; }
  body > p {
    margin: 1em 0; }
    body > p.dropcap {
      text-indent: 0; }
      body > p.dropcap:first-letter {
        font-size: 2em;
        float: left;
        margin-right: 0.2em;
        font-weight: bold; }
    body > p.samurai {
      font-size: 2em;
      font-family: "SamuraiStd-R", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", serif; }
  body p.attachment {
    text-align: center; }
    body p.attachment img {
      max-width: 100%; }
  body h1, body h2, body h3, body h4, body h5 {
    padding-top: 1.5em;
    margin-bottom: 0.75em;
    font-family: Garamond, "Baskerville", "Times New Roman", Times, "MatisseVPro-DB", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "IPA P明朝", "細明朝体", "メイリオ", Meiryo, serif; }
  body h1 {
    font-size: 2.5em;
    color: #FBEE88;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  body h2 {
    font-size: 1.8em;
    line-height: 1.2;
    color: #000; }
  body h3 {
    font-size: 1.5em;
    padding-bottom: 5px;
    line-height: 1.2;
    color: #333F46;
    border-bottom: 1px dotted #252e34; }
  body h4 {
    font-size: 1.3em;
    line-height: 1.2;
    color: #888;
    text-shadow: 1px 1px 2px #fff; }
  body h5 {
    font-size: 1.1em;
    line-height: 1.2; }
  body h6 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; }
  body strong, body b {
    color: #000;
    font-weight: bold; }
  body big,
  body strong.big {
    font-weight: bold;
    font-size: 2em; }
  body em {
    color: #000;
    font-style: italic; }
  body abbr, body acronym {
    cursor: help;
    color: #333F46;
    border-bottom: 1px dashed #333F46; }
  body sup {
    font-size: 0.75em;
    vertical-align: top; }
  body sub {
    font-size: 0.75em;
    vertical-align: sub; }
  body var {
    font-family: Georgia, "Times New Roman", Times, "KleePro-M", "游明朝体 ミディアム", "ヒラギノ明朝 ProN W3", serif;
    font-style: italic; }
  body ins {
    text-decoration: none;
    color: #666;
    background: #FBEE88; }
  body del, body s {
    color: #aaa; }
    body del:before, body s:before {
      content: " "; }
    body del:after, body s:after {
      content: " "; }
  body ol, body ul, body dl {
    margin: 1em 0; }
  body ol li, body ul li, body dl dd {
    margin: 0.5em 0 0.8em 1em; }
  body ul, body ol {
    padding-left: 1.5em; }
  body ul li {
    list-style: outside disc; }
  body ol li {
    list-style: outside decimal; }
  body ul li li, body ol li li, body dd li {
    font-size: 0.8em; }
  body ul li ul li {
    list-style-type: circle; }
  body ol li ol li {
    list-style-type: decimal-leading-zero; }
  body dl dt {
    font-size: 1.2em;
    font-weight: bold;
    margin: 15px 0 0;
    text-shadow: 1px 1px 2px #fff;
    color: #252e34; }
  body dl dd {
    padding-left: 1.5em;
    margin-left: 0; }
    body dl dd:before {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      content: "\f054";
      text-indent: -1.5em; }
  body blockquote {
    margin: 0.5em 0;
    padding: 32px;
    color: #808080;
    position: relative; }
    body blockquote:before, body blockquote:after {
      color: lightgrey;
      display: block;
      position: absolute;
      font-size: 24px;
      font-family: FontAwesome; }
    body blockquote:before {
      top: 0;
      left: 10px;
      content: "\f10d"; }
    body blockquote:after {
      bottom: 0;
      right: 10px;
      content: "\f10e"; }
    body blockquote p {
      margin: 0.5em 0; }
    body blockquote cite {
      display: block;
      text-align: right;
      font-size: 0.8em;
      font-weight: normal;
      color: #333F46; }
  body q, body cite {
    font-style: italic;
    color: #252e34; }
  body q[cite] {
    cursor: pointer; }
  body q:before {
    content: '"'; }
  body q:after {
    content: '"'; }
  body code, body kbd, body tt {
    background: #f7f7f7;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 2px;
    font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace;
    color: #000; }
  body var {
    font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace; }
  body pre {
    font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace;
    line-height: 1.2; }
  body .syntaxhighlighter {
    padding-top: 5px !important;
    padding-bottom: 5px !important; }
    body .syntaxhighlighter > table {
      font-size: 0.85em !important; }
    body .syntaxhighlighter code {
      -webkit-text-size-adjust: 100%; }
  body .code-format {
    background: #4D4945;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border: 2px solid #CCC;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    overflow: auto;
    font-family: "Courrier New", Courier, "andale mono", "lucida console", "Osaka-mono", "Osaka－等幅", "Meiryo UI", monospace; }
    body .code-format table {
      width: 100%; }
    body .code-format tr.even {
      background: #57534E; }
    body .code-format th {
      color: #938C84;
      background-color: transparent;
      font-weight: bold;
      text-align: right;
      border-right: #938C84 2px solid;
      padding: 0 5px 0 0;
      vertical-align: top; }
    body .code-format td {
      padding: 0 0 0 15px;
      border-bottom: none; }
    body .code-format .quote {
      color: #A5EFB8; }
    body .code-format .notation {
      color: #BCE3F4; }
  body pre.aa {
    font-family: IPAMonaGothic,'ＭＳ ゴシック',monospace;
    font-size: 12px;
    line-height: 1.5;
    margin: 20px 0;
    color: #999; }
  body address {
    font-style: italic;
    font-size: 0.85em;
    color: #888;
    line-height: 1.4;
    padding: 0.5em 1em; }
  body .alert {
    font-size: 0.8em;
    font-weight: bold;
    color: #000; }
    body .alert:before {
      content: " ※"; }
    body .alert:after {
      content: " "; }
  body aside {
    margin: 1em 0;
    line-height: 1.4;
    padding: 1em;
    font-size: 0.8em;
    -webkit-text-size-adjust: 100%;
    background: #f7f7f7;
    color: #666; }
  body table {
    margin: 20px 0;
    border-spacing: 0;
    empty-cells: show;
    border-collapse: collapse;
    width: 100%; }
    body table thead th, body table thead td {
      color: #000;
      padding: 5px 8px;
      border-bottom: 3px double #ddd;
      font-weight: bold; }
    body table caption {
      color: #666;
      text-align: right;
      font-size: 1em; }
    body table tbody th, body table tbody td {
      text-align: left;
      padding: 5px 8px;
      font-size: 0.85em;
      border-bottom: 1px solid #ddd; }
    body table tbody th {
      font-weight: bold;
      color: #000;
      white-space: nowrap; }
    body table tbody td {
      color: #888; }
    body table tbody tr:nth-child(2n) td,
    body table tbody tr:nth-child(2n) th {
      background: #f7f7f7; }
  body .alignright {
    float: right;
    margin-left: 1.5em; }
  body .alignleft {
    float: left;
    margin-right: 1.5em; }
  body .aligncenter,
  body div.alignnon,
  body figure.alignnon {
    margin: 1.5em auto; }
  body img.aligncenter {
    display: block; }
  body img.size-full {
    max-width: 100%;
    height: auto; }
  body div.wp-caption,
  body figure.wp-caption {
    margin-bottom: 1em; }
  body .wp-caption-text {
    font-size: 0.75em;
    color: #666;
    margin: 0.25em 0 0; }
  body input[type=text],
  body input[type=password],
  body input[type=email],
  body input[type=search],
  body textarea {
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 10px;
    color: #444; }
  body .netabare {
    margin-top: 32px;
    position: relative;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; }
    body .netabare:after {
      position: absolute;
      content: 'ネタバレ';
      display: block;
      padding: 5px;
      font-size: 12px;
      line-height: 1;
      font-family: Helvetica, Arial, sans-serif;
      background: #000;
      color: #fff;
      top: 0;
      left: 0;
      margin-top: -22px; }
